[2019-02-05 12:02] PhilBarrett opened #1 "Claiming legitimate relationship to access record detail"
As a user, when I return my search results, I need the ability to self claim I have a legitimate relationship with the patient, before I access the details within the patient record.

This self claim must be audited

[2019-02-05 16:06] PhilBarrett opened #2 "Login / Logout function"
As a healthcare/care professional I need the ability to securely log into/out of the application

[2019-02-05 16:08] PhilBarrett opened #3 "Create new patient record"
As a healthcare/care professional I need the means to add a new patient in the application

[2019-02-05 16:13] PhilBarrett opened #4 "Create new patient record"
As a healthcare/care professional I need the ability to create a new ReSPECT form for a patient

[2019-02-05 16:14] PhilBarrett opened #5 "Search for existing patient who has a ReSPECT form"
As a healthcare/care professional I need the
the ability to search for an existing ReSPECT form for a patient within the application

[2019-02-05 16:15] PhilBarrett opened #6 "Edit/Update ReSPECT form"
As a healthcare/care professional I need the ability to edit / update a ReSPECT form within the application

https://www.respectprocess.org.uk/_pdfs/ReSPECT-Specimen-Form.pdf

[2019-02-05 16:17] PhilBarrett commented on #2
- MS Azure Active Directory Integration / perhaps OIDC, awaiting further conversation with NES

[2019-02-05 20:53] PhilBarrett opened #7 "Architecture and Design"
[ ] Data flows
...
....

[2019-02-07 16:11] tony-shannon commented on #6
? if we have 1 /3/9 sections in the frontend?
do we have 1/3/9 API calls to make
can React keep state of null values for incomplete forms (eg 90 data points over 9 sections, 12 filled in , so 78 null,)

[2019-02-07 16:12] tony-shannon commented on #6
Q for Simon
Can we trigger conditional rules after section started?

[2019-02-18 10:38] tony-shannon opened #8 "Respect form on openEHR inc Version control"
Hi @freshehr
Any thoughts about version control here?
We are aware of the current Respect form & expect that will be saved in parts/in total and then revised
We can expect changes to the form over time also..
So how do we handle changes in versions in openEHR ?

FYI @chevalleyc

thanks
T

[2019-02-18 16:37] freshehr commented on #8
Hi Tony,

I think we did a reasonablr job of getting the Respect team to future-proof the templates once people started to consider the electronic version so I'm hoping that there may not actually be any specific changes required to the actual Respect template itself, though I would suggest we go with an internal version which uses FHIR-aligned versions of some of the demographics archetypes such

[2019-02-19 09:14] chevalleyc commented on #8
Contribution is supported in EtherCIS but not much used at this stage... What is needed is to get it integrated with AQL (e.g. querying on a versioned composition to get the corresponding lifecycle_state. This data is defined in the DB but always set to 'complete' at this stage). I'm not quite sure about the syntax to use to a) set the values of these fields (except for the standard contribution v

[2019-02-19 13:51] PhilBarrett opened #9 "High Level Requirements for NES"

[2019-02-19 14:05] PhilBarrett commented on #9
- [ ]  Landing page and theming/copyright
- [ ]  Clinical Query? Removing gender and age row
- [ ] MPV and Master Patient Index (inc preferred name, live/deceased status, care home status, telephone number(s)),
- [ ]  SPV, multipart form, ability to print out, +/- version control (calculated age), patient banner remove GP, only basic demographics. Remove sort from Respect form table, Help /hover t

[2019-02-19 18:06] tony-shannon commented on #8
Indeed thats the tricky bit, I think Christian is saying he can support with some direction?

thanks
T

[2019-02-20 10:10] PhilBarrett opened #10 "Deployment and test of MPI-Service"
https://github.com/ethercis/mpi

onto

mpi-dev.ripple.foundation

[2019-02-20 10:39] PhilBarrett opened #11 "Landing page feedback"
- [x] Replace existing NES logo with NHS Scotland
- [x] Remove copyright notice at bottom of screen and Ripple Foundation logo

[2019-02-20 10:41] PhilBarrett opened #12 "Clinical Query changes"
Including removing gender and age row from the designs

[2019-02-20 10:51] PhilBarrett opened #13 "MPV & MPI enhancements"
#### MPV and Master Patient Index

 - [x] MPV results need to display alive/deceased status

#### Creating a new record
- [x] Include preferred name
 - [x] Telephone number(s))
- [x] maximise /minimise toggle on summary and detail panels

[2019-02-20 11:07] PhilBarrett opened #14 "Single Patient View Changes"
#### Removals / amends
- [x] In the patient banner remove GP, only display basic demographic information
- [x] Remove 'sort' function from Respect form table as defunct
- [x] Spell check / typos on mockups
- [ ] ReSPECT slider to mimic the form rather than flat slider
- [x] Emphasis of CPR choices (embolden)
- [x] Section 6 as Scottish project, change order to Scottish first
- [x] maximise /minimi

[2019-02-20 11:39] PhilBarrett opened #15 "Access controls"
- [ ] Self claiming Legitimate Relationship / Breakglass
 - [ ] Role Based Access Controls

[2019-02-20 11:49] PhilBarrett opened #16 "Integration feedback"
ntegration issues broadly, including Scottish IDCR to include ReSPECT + external integrations

[2019-02-20 11:59] PhilBarrett opened #17 "ReSPECT Data Set on multiform sections"
- [ ] Mandatory fields
- [ ] Partial, incomplete, publish states
- [ ] The ability to save section and revisit
- [ ] Consider the value of date on summary table
- [ ] Constraining character limits, especially if enabling print outs
- [ ] Respect form Authorship by section? 1 or many?

[2019-02-20 12:09] PhilBarrett opened #18 "Mobile view considerations"

[2019-02-20 12:19] PhilBarrett opened #19 "openEHR template review"
openEHR template review/broader discussion, does it cover all 9 sections
esp version control

[2019-02-20 12:49] PhilBarrett opened #20 "Cloud/ Network set up"

[2019-02-21 09:51] tony-shannon commented on #16
consider GP/DDS integration for demo purposes only

[2019-02-21 09:56] tony-shannon commented on #18
responsive views as standard - could be optimised in future

printing/pdf versions, - local storage issues - esp IG

[2019-02-21 10:12] tony-shannon commented on #17
re Authorship- options
1) only one user per form - assume auth details come  from oauth soln
2) allow 2+ users per form-  assume auth details come  from oauth soln - ? lock versions to avoid duplicate entry or alert to UI "being edited at this time"
could end with sections 1,3,5 by author A and 2,4, 6 from author B
Would need guidance/help text

[2019-02-21 10:13] tony-shannon commented on #5
this solution will need to craft its own MPI and so all patients can be expected a respect form

[2019-02-21 10:37] PhilBarrett commented on #10
FHIR Explorer - Demographics server - https://data.developer.nhs.uk/ccri/exp
https://github.com/nhsconnect/careconnect-reference-implementation

[2019-02-22 10:30] freshehr commented on #8
The main issue here is handling 'incomplete/partial' compositions. In the specification, this is left open as to whether it should be handed within the EHR or outside (but part of the CDR). https://specifications.openehr.org/releases/RM/latest/common.html#_version_lifecycle

Certainly other CDR vendors support the idea of draft compositions but I am pretty sure they do not store these inside the E

[2019-02-22 14:09] tony-shannon commented on #8
more comments on this from Ian

we could simplify that right now just to take some fixed attribute, e.g. the template name or composition name/value.

[2019-02-25 11:41] PhilBarrett commented on #9
Split out into separate issues

[2019-02-25 11:42] #9 closed

[2019-02-25 12:12] freshehr commented on #8
We had a good conversation with clinical leads on this and it is now clear (I think!) that we do not need an 'incomplete/draft composition' in openEHR terms. These would imply that the composition should somehow be regarded as completely invalid and in some fashion hidden from normal use.  The conversation established that the clinical leads would *always* want the saved composition to be visible/

[2019-02-26 16:36] PhilBarrett commented on #13
Out Of Scope
 - [ ] Care home status

[2019-02-26 16:43] PhilBarrett commented on #14
Out of Scope for first phase

- [ ] Preventing multiple access to a ReSPECT form at the same time (lock)
- [ ] Hover/help text per field/header to guide the user

[2019-02-26 16:47] PhilBarrett opened #21 "Print UX/UI feedback"
- [x] Consideration was required around draft forms which may need to be printed out. Draft watermark may be required on printouts

[2019-02-26 16:50] PhilBarrett opened #22 "Authorship UX/UI Feedback"
Rules around authorship/ validity
It was agreed that
- [x] Mandatory fields are reviewed and completed at the UI level
- [ ] Section 4 , 6 are mandatory before a form can be created / updated
- [x] for new form recommend complete form and responsibility all form with - warning flag ( please ensure you completed section 4 and 6)

[2019-02-26 16:53] PhilBarrett opened #23 "New section - UX/UI Feedback"
There is an additional requirement for a section 10 - Emergency view

It would include section 4, 6 and 7

[2019-02-27 18:36] PhilBarrett commented on #11
Can still see these,  in top banner and at footer, sorry

[2019-02-27 22:46] #13 closed

[2019-02-27 22:48] #23 closed

[2019-02-27 22:48] #21 closed

[2019-02-28 09:14] simongamester commented on #14
@PhilBarrett @tony-shannon Re: "ReSPECT slider to mimic the form rather than flat slider" how would you recommend we change this. Does this apply to the slider in section 3, 4, or both?

[2019-02-28 09:18] PhilBarrett commented on #14
If there isn't one readily available, I think we are going to have to say that's additional work which will need to be picked up separately. Unless they can provide one.

[2019-02-28 10:19] simongamester commented on #14
Thanks @PhilBarrett Can you point out typos anywhere? Also, not sure what's required for the calendar box item? All dates have a calendar button / icon which will toggle a calendar when clicked. Anywhere this is missing?

[2019-02-28 10:28] PhilBarrett opened #24 "Split Surname and Forename out on add new patient"

[2019-02-28 10:37] PhilBarrett commented on #14
- [x] ReSPECT description - situations is missing the s
- [x] Section 5 - 2nd question, Spelling and grammar. attorney and responsibility
- [x] Section 6 - A spelling of Mental, Friends

- [x] Date completed, including time - can see the calendar, sorry

Re the slider, perhaps we could simply just add the image and put the slider underneath it, so it's clear what they are sliding for? WDYT @tony-s

[2019-02-28 10:41] simongamester commented on #11
Some slides weren't synced to InVision. Can you take another look?

[2019-02-28 10:48] PhilBarrett commented on #11
Bottom bit is fine, Top next to the back button just needs changing to NHS Scotland throughout

[2019-02-28 10:49] #12 closed

[2019-02-28 10:49] #24 closed

[2019-02-28 11:57] #11 closed

[2019-02-28 12:44] #14 closed

[2019-02-28 14:46] PhilBarrett opened #25 "Set up ReSPECT branch on QEWD-Courier"

[2019-02-28 14:53] PhilBarrett opened #26 "Arrive at NHS Scotland landing page upon login"
As per

https://projects.invisionapp.com/share/DAQQSTW9WVM#/screens/349350657

[2019-02-28 14:55] PhilBarrett commented on #5
As per
https://projects.invisionapp.com/share/DAQQSTW9WVM#/screens/349350833 &
https://projects.invisionapp.com/share/DAQQSTW9WVM#/screens/349350836

[2019-02-28 14:59] PhilBarrett commented on #4
See
https://projects.invisionapp.com/share/DAQQSTW9WVM#/screens/349350834

[2019-02-28 17:38] PhilBarrett opened #27 "Create new ReSPECT form - landing page"
As a user,  I need the ability to create a new ReSPECT form. https://projects.invisionapp.com/share/DAQQSTW9WVM#/screens/349299438

[2019-02-28 17:45] PhilBarrett opened #28 "ReSPECT Form - section 1"
As per

https://projects.invisionapp.com/share/DAQQSTW9WVM#/screens/349299441

https://projects.invisionapp.com/share/DAQQSTW9WVM#/screens/349299439

[2019-02-28 17:46] PhilBarrett opened #29 "ReSPECT Form Section 2"
See
https://projects.invisionapp.com/share/DAQQSTW9WVM#/screens/349299442

[2019-02-28 17:48] PhilBarrett opened #30 "ReSPECT form Section 3"
https://projects.invisionapp.com/share/DAQQSTW9WVM#/screens/349299443

[2019-02-28 17:49] PhilBarrett opened #31 "ReSPECT form section 4"
https://projects.invisionapp.com/share/DAQQSTW9WVM#/screens/349299444

[2019-02-28 17:53] PhilBarrett opened #32 "ReSPECT form section 5"
https://projects.invisionapp.com/share/DAQQSTW9WVM#/screens/349299445

[2019-03-01 09:11] PhilBarrett opened #33 "ReSPECT form section 6"
https://projects.invisionapp.com/share/DAQQSTW9WVM#/screens/349299446

[2019-03-01 09:19] PhilBarrett opened #34 "ReSPECT form section 7"
https://projects.invisionapp.com/share/DAQQSTW9WVM#/screens/349299447
https://projects.invisionapp.com/share/DAQQSTW9WVM#/screens/349299448
https://projects.invisionapp.com/share/DAQQSTW9WVM#/screens/349299449

[2019-03-01 09:21] PhilBarrett opened #35 "ReSPECT form section 8"
https://projects.invisionapp.com/share/DAQQSTW9WVM#/screens/349299450

https://projects.invisionapp.com/share/DAQQSTW9WVM#/screens/349299451

[2019-03-01 09:22] PhilBarrett opened #36 "ReSPECT form section 9"
https://projects.invisionapp.com/share/DAQQSTW9WVM#/screens/349299452

https://projects.invisionapp.com/share/DAQQSTW9WVM#/screens/349299453

[2019-03-01 09:25] PhilBarrett opened #37 "ReSPECT form section 10"
Auto populated

https://projects.invisionapp.com/share/DAQQSTW9WVM#/screens/349337140

[2019-03-01 09:27] PhilBarrett opened #38 "ReSPECT form - Versions"
View version history
https://projects.invisionapp.com/share/DAQQSTW9WVM#/screens/349330305

Select entry
https://projects.invisionapp.com/share/DAQQSTW9WVM#/screens/349330146

View the detail of the entry (read only)
https://projects.invisionapp.com/share/DAQQSTW9WVM#/screens/349330147

[2019-03-01 09:28] PhilBarrett opened #39 "ReSPECT form - Printing / PDF Kit"
https://projects.invisionapp.com/share/DAQQSTW9WVM#/screens/349326737

https://projects.invisionapp.com/share/DAQQSTW9WVM#/screens/349326738

[2019-03-01 10:12] #3 closed

[2019-03-01 10:15] #25 closed

[2019-03-01 10:16] #10 closed

[2019-03-01 10:17] PhilBarrett opened #40 "QEWD-Courier - FHIR MPI microservice"
This piece of work needs to be hooked up to the MPV view of PT and allow for adding a new patient. Also needs to be connected to QEWD Yotta Db for patients for persistence and the data format, aligned with CareConnect JSON format.

[2019-03-01 10:18] PhilBarrett commented on #19
OpenEHR template API's to be provided here by @freshehr

[2019-03-01 11:16] PhilBarrett opened #41 "ReSPECT form API to OpenEHR inc version control"

[2019-03-01 11:17] PhilBarrett opened #42 "CI/ Unit testing"

[2019-03-01 17:04] kuvakina commented on #42
excuse me @PhilBarrett , could you please add details to what I should do?

[2019-03-01 17:05] kuvakina commented on #41
@PhilBarrett I'm afraid I'd need details to what I should do here

[2019-03-01 17:08] PhilBarrett commented on #41
Awaiting the APIs from @freshehr which will be ready for Monday

On Fri, 1 Mar 2019, 17:05 kuvakina, <notifications@github.com> wrote:

[2019-03-01 17:21] kuvakina commented on #41
@PhilBarrett understand, thanks

[2019-03-04 10:39] PhilBarrett commented on #1
Reusing showcase Legitimate Relationship modal

[2019-03-04 11:16] PhilBarrett commented on #40
https://nhsconnect.github.io/CareConnectAPI/api_entity_patient.html

[2019-03-04 11:24] tony-shannon commented on #1
see Showcase for example

[2019-03-04 15:13] BogdanScherban commented on #28
This section has been done:
1) all required elements are presents;
2) action/reducer/sagas for creating API-request has been created

Some styles fixing are required, but it can be done later

![image](https://user-images.githubusercontent.com/39263134/53742251-e178f180-3ea0-11e9-814d-8150bcfca4c0.png)

[2019-03-04 15:16] BogdanScherban commented on #29
This section has been done:
1) all required form elements are presented
2) action/reducer/sagas are created

Styles fixing can be done later.

![image](https://user-images.githubusercontent.com/39263134/53742349-1ab16180-3ea1-11e9-9d88-09915e29d20e.png)

[2019-03-04 17:51] tony-shannon opened #43 "Deploy & update NES-dev version"
Please load PulseTile RA + Qewd-Courier components on NES-dev 104.248.163.112

[2019-03-05 08:41] BogdanScherban commented on #34
@fzaninotto
Could you please advice me about this issue:
https://github.com/PulseTile/PulseTile-RA/issues/59

[2019-03-05 09:06] kuvakina commented on #28
For this and other sections, there are left some work to do, and for this section too:

1. add icon Print
2. add icon History (just one question: we have to add it everywhere, like on mockups, or only on a new page?)
3. should we add Expand button to details block?
4. do we nee X button on details block, if we have Cancel button?
5. to fix styles
6. rename Complete button to Finish

[2019-03-05 09:08] PhilBarrett commented on #28
@simongamester can you advise on these points please

[2019-03-05 09:11] kuvakina commented on #29
For this and other sections, there are left some work to do, and for this section too:

1. add icon Print
2. add icon History (just one question: we have to add it everywhere, like on mockups, or only on a new page?)
3. should we add Expand button to details block?
4. do we nee X button on details block, if we have Cancel button?
5. to fix styles
6. rename Complete button to Finish

[2019-03-05 09:14] kuvakina commented on #30
For this and other sections, there are left some work to do, and for this section too:

1. add icon Print
2. add icon History (just one question: we have to add it everywhere, like on mockups, or only on a new page?)
3. should we add Expand button to details block?
4. do we nee X button on details block, if we have Cancel button?
5. to fix styles
6. rename Complete button to Finish

Also concrete

[2019-03-05 09:18] kuvakina commented on #31
For this and other sections, there are left some work to do, and for this section too:

1. add icon Print
2. add icon History (just one question: we have to add it everywhere, like on mockups, or only on a new page?)
3. should we add Expand button to details block?
4. do we nee X button on details block, if we have Cancel button?
5. to fix styles
6. rename Complete button to Finish

Also concrete

[2019-03-05 09:28] kuvakina commented on #32
For this and other sections, there are left some work to do, and for this section too:

1. add icon Print
2. add icon History (just one question: we have to add it everywhere, like on mockups, or only on a new page?)
3. should we add Expand button to details block?
4. do we nee X button on details block, if we have Cancel button?
5. to fix styles
6. rename Complete button to Finish

Also concrete

[2019-03-05 09:28] kuvakina commented on #33
For this and other sections, there are left some work to do, and for this section too:

1. add icon Print
2. add icon History (just one question: we have to add it everywhere, like on mockups, or only on a new page?)
3. should we add Expand button to details block?
4. do we nee X button on details block, if we have Cancel button?
5. to fix styles
6. rename Complete button to Finish

Also concrete

[2019-03-05 09:53] PhilBarrett commented on #33
I note the questions are repeating from other issues so will let @simongamester advise on those points and can then be applied accordingly.

@kuvakina re:
8.1 it should be a radio button as with the others, well spotted.
8.2 that's correct, see https://www.respectprocess.org.uk/_pdfs/ReSPECT-Specimen-Form.pdf

[2019-03-05 09:55] PhilBarrett commented on #30
@kuvakina needs to be as per https://www.respectprocess.org.uk/_pdfs/ReSPECT-Specimen-Form.pdf so a vertical won't work I'm afraid.

[2019-03-05 10:20] kuvakina commented on #33
yes, just in case I've repeated them

@PhilBarrett

8.2 that's correct, see https://www.respectprocess.org.uk/_pdfs/ReSPECT-Specimen-Form.pdf

thanks, I see now

[2019-03-05 10:23] kuvakina commented on #30
ok, thanks. I think @BogdanScherban have found a way already make it as on mockups

[2019-03-05 10:28] BogdanScherban commented on #30
Range has been added:
![RANGE.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5bb3796441a5980011efd33d/125516c66e82c728ace21e0d46dab5b404a7c1e5cdf9ad4cae58f3806b1c65262b05a02e23d0e57fbd417a540b5f4ea5420d5647a9af8c39baa47e21d40854b088270a36d43703adb0881eba04bb27834e83b1bd8e45c8fa70.png)

Other notes (1-5) will be added later, when we will fix styles.

[2019-03-05 11:04] PhilBarrett commented on #30
Thanks Bogdan - could the slider go across the full width of the scale
please.

On Tue, 5 Mar 2019 at 10:28, BogdanScherban <notifications@github.com>
wrote:

[2019-03-05 13:14] BogdanScherban commented on #31
Range and signatures were added:
https://drive.google.com/file/d/12oVfsDQ0znAg8nsS0gY8xNkuyuad8zx6/view?usp=sharing

Styles items (1-5) will be done later, when we will work on styles.

[2019-03-05 13:17] BogdanScherban commented on #32
This section has been done:
![SECTION 5.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5bb3796441a5980011efd33d/125516c66e82c728ace21e0d46dbb1b917abac87cfbcfd0fe64de29b234324676b5ee17e7284e02dec177d560d0c1fa915585f4dffac8028f3e03962964e49bc8f3900299f7744eeaa880dbe06b0218e4a84b1b58b44c2ec3827e799c2.png)

Styles will be fixed later.

[2019-03-05 13:55] PhilBarrett opened #44 "Add ReSPECT logos, in place of text ReSPECT & add NHS Scotland logo"
See https://drive.google.com/drive/folders/1G67vqfLKjNvmwJQsiAVLrXyeFjUADRf_?usp=sharing for file formats

@simongamester can you confirm which logo and placement on the designs please?

[2019-03-05 14:15] PhilBarrett commented on #19
https://github.com/RippleOSI/Ripple-openEHR/tree/master/docs/bindings/Current%20Ripple%20Headings/NSS%20ReSPECT

Guidance document and sample instance composition

The operational template is at

https://github.com/RippleOSI/Ripple-openEHR/blob/master/technical/operational/RESPECT_NSS-v0.opt

[2019-03-05 15:41] PhilBarrett commented on #19
Review completed by Ian, closing off

[2019-03-05 15:41] #19 closed

[2019-03-05 15:41] PhilBarrett commented on #41
https://github.com/RippleOSI/Ripple-openEHR/tree/master/docs/bindings/Current%20Ripple%20Headings/NSS%20ReSPECT

Guidance document and sample instance composition

The operational template is at

https://github.com/RippleOSI/Ripple-openEHR/blob/master/technical/operational/RESPECT_NSS-v0.opt

@kuvakina this in from Ian

[2019-03-05 15:50] PhilBarrett commented on #39
PDFs without watermarks provided by Juliet today, contact being made with Ivor and Matt from Helix who did the design for the  original ReSPECT form around receiving the original files/ art files. https://drive.google.com/drive/u/0/folders/1G67vqfLKjNvmwJQsiAVLrXyeFjUADRf_

[2019-03-05 15:59] PhilBarrett opened #45 "Future requirement: Launch in context"
The ability to launch the ReSPECT form from existing IT systems i.e. GP system

[2019-03-05 16:04] PhilBarrett commented on #1
![selfclaimlr](https://user-images.githubusercontent.com/12699244/53818659-57905d80-3f60-11e9-8d3f-17b474a0deb1.png)

[2019-03-05 16:36] tony-shannon commented on #42
Need to address unit testing and CI set up for this work within resource available
esp PulseTile RA + Qewd-C MS aspects
+ Jenkins set up to ease deployment

[2019-03-06 10:05] simongamester commented on #39
@PhilBarrett Could you send me an invite to this google drive folder please?

[2019-03-06 10:26] simongamester commented on #28
Hi @kuvakina

2. This should appear within the header for the ReSPECT Sections table throughout the system. This takes the user back to the Versions table where they can review other versions of the form.

3. Yes, the expand button should be used on all detail blocks and a full width view of this should be available.

4. Yes, suggest we use both X and cancel buttons, although they perform the same

[2019-03-06 12:41] PhilBarrett commented on #39
Should be with you now @simongamester

[2019-03-06 17:25] kuvakina commented on #43
Started working on it.

[2019-03-06 17:35] kuvakina commented on #40
I think we need more details and probably Dima'd needed Rob's advises regarding this issue

[2019-03-07 14:07] PhilBarrett commented on #43
This needs the latest version deployed

[2019-03-07 15:56] PhilBarrett commented on #44
@kuvakina Simon has updated the wireframes

https://projects.invisionapp.com/share/DAQQSTW9WVM#/screens/349299438

[2019-03-07 16:32] BogdanScherban commented on #28
@tony-shannon @PhilBarrett
This section is ready. All fields are presented, styles are similar to mockup.

![image](https://user-images.githubusercontent.com/39263134/53972278-2605c680-4107-11e9-850f-2c96148e0a94.png)

But now this section works without server side. Data are saved only in React Store.
The next step of this issue should be adding the possibility work with server side.

[2019-03-07 16:35] BogdanScherban commented on #28
@PhilBarrett @tony-shannon

Only one question: which countries should be in Country field? In mockup this field is selectbox:
![image](https://user-images.githubusercontent.com/39263134/53972596-c52abe00-4107-11e9-98a3-01c25f2c3722.png)

Or should I left this field as simple text input?

[2019-03-07 16:36] BogdanScherban commented on #29
@tony-shannon @PhilBarrett
This section is ready. All fields are presented, styles are similar to mockup.

![image](https://user-images.githubusercontent.com/39263134/53972683-f4412f80-4107-11e9-9390-55d400e54cd2.png)

But now this section works without server side. Data are saved only in React Store.
The next step of this issue should be adding the possibility work with server side.

[2019-03-07 16:37] BogdanScherban commented on #30
@tony-shannon @PhilBarrett
This section is ready. All fields are presented, styles are similar to mockup.

![image](https://user-images.githubusercontent.com/39263134/53972773-18047580-4108-11e9-8e9e-afa8cfe4d3fc.png)

But now this section works without server side. Data are saved only in React Store.
The next step of this issue should be adding the possibility work with server side.

[2019-03-07 16:40] BogdanScherban commented on #31
@tony-shannon @PhilBarrett
This section is almost ready. All fields are presented, styles are similar to mockup.

![image](https://user-images.githubusercontent.com/39263134/53972844-41bd9c80-4108-11e9-98af-ff3eaab5fef9.png)

Only one issue wasn't solved - how to provide saving of signature?
But this issue will be solved when we will work with server side of this plugin.

[2019-03-07 16:41] BogdanScherban commented on #32
@tony-shannon @PhilBarrett
This section is ready. All fields are presented, styles are similar to mockup.

![image](https://user-images.githubusercontent.com/39263134/53972973-8b0dec00-4108-11e9-9c8b-91dbaa3bd7b8.png)

But now this section works without server side. Data are saved only in React Store.
The next step of this issue should be adding the possibility work with server side.

[2019-03-07 16:42] BogdanScherban commented on #33
@tony-shannon @PhilBarrett
This section is ready. All fields are presented, styles are similar to mockup.

![image](https://user-images.githubusercontent.com/39263134/53973073-b8f33080-4108-11e9-99b0-7514bf200ba9.png)

But now this section works without server side. Data are saved only in React Store.
The next step of this issue should be adding the possibility work with server side.

[2019-03-07 16:43] BogdanScherban commented on #34
@tony-shannon @PhilBarrett
This section is almost ready. All fields are presented, styles are similar to mockup.

![image](https://user-images.githubusercontent.com/39263134/53973157-e344ee00-4108-11e9-9e31-c4239640651d.png)

Only one issue wasn't solved - how to provide saving of signature?
But this issue will be solved when we will work with server side of this plugin.

[2019-03-07 16:45] BogdanScherban commented on #35
@tony-shannon @PhilBarrett
This section is ready. All fields are presented, styles are similar to mockup.

![image](https://user-images.githubusercontent.com/39263134/53973238-11c2c900-4109-11e9-9cec-ffc81211775f.png)

But now this section works without server side. Data are saved only in React Store.
The next step of this issue should be adding the possibility work with server side.

[2019-03-07 16:46] BogdanScherban commented on #36
@tony-shannon @PhilBarrett
This section is almost ready. All fields are presented, styles are similar to mockup.

![image](https://user-images.githubusercontent.com/39263134/53973323-39b22c80-4109-11e9-91c2-115536129d64.png)

Only one issue wasn't solved - how to provide saving of signature?
But this issue will be solved when we will work with server side of this plugin.

[2019-03-07 16:46] BogdanScherban commented on #37
This section has been done.

![image](https://user-images.githubusercontent.com/39263134/53973407-59e1eb80-4109-11e9-976a-69de2626d56b.png)

[2019-03-07 17:13] #43 closed

[2019-03-08 15:16] tony-shannon commented on #41
we have set up a dev box ethercis1.3-test in our DO env which can be used for this

need to update our Docker containers for EtherCIS 1.3 version, as the initial deployment will be to docker based env
https://github.com/RippleOSI/ethercis-server-docker
https://github.com/RippleOSI/ethercis-database-docker
.. this update should include some test data loading for dev purposes

we will  need to load

[2019-03-11 14:33] PhilBarrett commented on #28
Just as per the mockup with UK as the default for now. We can add other countries at another stage, but with it being for the UK, I'm not sure needed.

[2019-03-11 14:36] PhilBarrett opened #46 "Discussion required around Signatures"
Storage, format etc

How the logged in user signing in becomes their signature, rather than needing an actual signature

[2019-03-12 08:12] chevalleyc commented on #41
Related with ethercis CR #157. AFAIK querying on composition state (complete, uncomplete etc.) is not required.

[2019-03-13 09:55] PhilBarrett commented on #39
@simongamester Do you have any update on this please now you have the forms?

[2019-03-13 15:04] PhilBarrett opened #47 "NES - ReSPECT UX/UI Refinements - High priorities"
see

https://docs.google.com/document/d/1E5-vaRo6b5-E3lkBZIhEZQCP0fYIkLVBi8meNbQ2zrQ/edit

[2019-03-13 15:12] simongamester commented on #44
Please find enclosed the Respect Logo in 1x and 2x. Recommend 1x only if you're not adding in support for retina displays.
![ReSPECT+summary@2x.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5bb37967f01e4d00110fba95/125516c66e82c728ace21e0d46da91a913a7a09dc4faaa4ea95ce28d09143f316546b3397f8fe62bab0021435a0d1fff145b5a12fbabda7aa3e23c70835f5ee4d2380971d42103eee9dc4be05ce36a

[2019-03-13 15:15] simongamester commented on #44
NHS Logo as used within the header. In 1x and 2x once again.
![1920px-NHS_Scotland.svg.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5bb37967f01e4d00110fba95/125516c66e82c728ace21e0d46b9cdc873929be4a1c18c7c975eff80254729776717b52c32c9a138ad4d71040c1b5ca6535d0d15afac8a2ef0b16e23db595fedd1645c21cf3e44fabd9003ad43eb7edf10d8eff6df0ed2e22f27e6818e4a3b1c011189ff5432a2994fda15.

[2019-03-13 15:16] PhilBarrett commented on #47
Summary below:

- [x]  Brand navy blue colour does not match those from the wireframes. Change all uses of this colour to the one in the design including backgrounds and text colours.

Current colour: #000080
Design colour: #0078C8

- [x]  Apply HK Grotesk font for all text. Suggest applying to Body and * elements as the default rule. We used this on the old version of Helm, which I inlined within

[2019-03-13 15:17] PhilBarrett opened #48 "NES - ReSPECT UX/UI Refinements - Medium Priority"

[2019-03-13 15:18] PhilBarrett opened #49 "NES - ReSPECT UX/UI Refinements - Medium Priority"
See link for full report

https://docs.google.com/document/d/1E5-vaRo6b5-E3lkBZIhEZQCP0fYIkLVBi8meNbQ2zrQ/edit#heading=h.96czpxuz6dau

[2019-03-13 15:24] PhilBarrett commented on #49
**Multi Patient View**

 - [x] MEDIUM: Table header is missing. Should include:

Cog to change viewable fields
Title
Search icon for filtering

 - [x] MEDIUM: Font sizes for column heading and cells is too small. Also change to HK Grotesk

th {
font-size: 16px;
}

th {
font-size: 15px;
}

 - [x] MEDIUM: Table should be padded within its container. See document for correct spacing:
 - [x] MEDIUM: S

[2019-03-13 15:25] PhilBarrett opened #50 "NES - ReSPECT UX/UI Refinements - Low Priority"

[2019-03-13 15:31] #48 closed

[2019-03-13 15:37] PhilBarrett commented on #50
**General**
 - [x] LOW: Close button should have greater border radius:

border-radius: 25px;

- [x] LOW: All boxes should have hard edges, not rounded.

**ReSPECT**
- [x]  LOW: Patient Summary panel should have consistent top and bottom padding. Suggest increasing the top padding to match the bottom.
- [ ] LOW: Panel footers should now have a grey background.
- [x] LOW: Increase the line heights

[2019-03-14 13:14] tony-shannon commented on #8
NB linked to this related/duplicate issue
ReSPECT form API to OpenEHR inc version control
https://github.com/RippleOSI/NHS_Ed_Scotland_Open_Platform/issues/41

[2019-03-14 13:52] BogdanScherban commented on #44
This issue has been done:
![image](https://user-images.githubusercontent.com/39263134/54362154-1d664080-4671-11e9-9ccf-9e84cc627d79.png)

[2019-03-14 14:15] kuvakina commented on #4
Form was added. Can check on http://nes-dev.ripple.foundation:8080/#/patients/create . Styles fixes required.

[2019-03-14 14:49] tony-shannon commented on #40
Rob has done ground work on this, as has Rich so this can be tested shortly

[2019-03-14 15:42] tony-shannon commented on #40
FHIR JSON example as provided by RobT

{
"name": {
"family": "Chalmers",
"given": [
"Peter",
"James"
],
"prefix": "Mr"
},
"telecom": "07700 900000",
"gender": "male",
"birthDate": "1974-12-25",
"address": {
"line": "26, High Street",
"city": "Dundee",
"district": "Tayside",
"postalCode": "DU2 3SK",
"country": "United Kingdom"
}
}

[2019-03-14 15:46] tony-shannon commented on #40
Set up of Rob Tweeds quick FHIR MPI version is all documented here: https://github.com/robtweed/fhir-mpi
Documentation due for furtther update soon

[2019-03-14 16:04] PhilBarrett commented on #38
https://invis.io/JZQNPCFTK2S updated version screens from @simongamester

[2019-03-14 16:06] BogdanScherban commented on #47
@tony-shannon @PhilBarrett @simongamester
**These issues has been done.** Builds with changes were uploaded to Showcase, Helm and Scotland:
- Brand navy blue colour does not match those from the wireframes. Change all uses of this colour to the one in the design including backgrounds and text colours.
- Apply HK Grotesk font for all text. Suggest applying to Body and * elements as the default rule

[2019-03-14 16:47] PhilBarrett commented on #47
@simongamester Any thoughts on this please

[2019-03-14 16:50] tony-shannon commented on #47
I can do this, but probably it will be better to organize sorting at the server side?

if easy to do please do browser side

click on Row = redirect to Summary
click on View = open details panel
What variant is true?

Click on Row to open details panel
Click on View to redirect to summary please

What means at patient summary tab ? Content area with panels Allergies, Contacts etc.?
But what should

[2019-03-14 16:53] PhilBarrett commented on #47
Has this been covered already @BogdanScherban

[2019-03-14 17:26] simongamester commented on #39
I've created a static version of this which wrapped within Browserify. This creates a page PDF document, importing the ReSPECT form as images, then overlaying each field over the top:

I've included this in the following repo, with a brief explanation of the code:

https://github.com/simongamester/pdfkit/tree/master/demo

[2019-03-15 08:42] PhilBarrett opened #51 "UI fixes"
- [x] Removal of Tour function
 - [x] Removal of Footer

[2019-03-15 08:44] PhilBarrett commented on #51
![Screen Shot 2019-03-15 at 08.44.17.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a6886ed18902a00110228a6/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5700b77206455f66b7191a378e70c2f55415e49be5d4a1f06a3a3dc78e2a436628f0e5abe846e5a22c16f42fdbdd61fbf08b975824cd0e0b99850d2aa6c7bb3d4d216744b470a83ed5f35aa984ecd5af048e8495ca0113163f43b.png)

[2019-03-15 11:10] tony-shannon opened #52 "New Login Page for NES"
Need NES branded login page for NES project

[2019-03-15 11:11] tony-shannon commented on #52
Simon has mocked up the static html for the login screen for NES.
See index.html from the following repo:
https://github.com/simongamester/UserLogin_Theme-NES

Please use this to update the NES frontend @BogdanScherban

[2019-03-15 15:07] tony-shannon commented on #52
BTW our repos need to be updated with these changes, please confirm that before closing this issue

[2019-03-15 15:58] kuvakina commented on #51
Tour and Footer were hidden from NES app: https://www.screencast.com/t/kwbEeWMk3

(just in case we hid it, not removed)

[2019-03-15 16:19] PhilBarrett commented on #51
Tested, working fine. Thank you

[2019-03-15 16:19] #51 closed

[2019-03-16 15:23] freshehr commented on #8
**ReSPECT Composition version control:**

1. The initial commit uses a /composition POST call. This will save the composition and generate a unique compoisitonId, including a version suffix

`ab30f532-9645-4a40-b554-5cb5f842a539::hcbox.oprn.ehrscape.com::1` where `::1` is the version suffix.

2. All subsequent updates to the composition should be committed via PUT /composition. This will keep the

[2019-03-18 13:20] PhilBarrett opened #53 "NES - ReSPECT Bugs"
QA  testing - Friday 15/3 & 18/3

[2019-03-18 13:32] PhilBarrett commented on #53
- [x] when selecting the time element for "date and time", the time doesn't render correctly and goes off screen (not responsive).
- [x] Please can this be proof read for spelling mistakes (i.e Mental instead of Mantal etc)
- [x] Section 10 autocompletes yet has a finish button
- [ ] Previous versions of the ReSPECT form should be read only - current I can edit the previous version
- [ ] The statu

[2019-03-18 15:33] kuvakina commented on #53
@PhilBarrett you mean this https://www.screencast.com/t/DfgQoCVPd6 ? I see that in mockups there is only date https://www.screencast.com/t/NqmO7o7iQ97 - should we also leave only date?

  Status when going into previous version

Could you add a bit more details, please?

[2019-03-18 15:43] PhilBarrett commented on #53
Both Date and time  are required as per the heading. This is how it renders for me in Chrome
![Screen Shot 2019-03-18 at 15 38 20](https://user-images.githubusercontent.com/12699244/54542641-1b172580-4994-11e9-829c-98e52e1688a4.png)

Status when going into previous version

Descriptions updated, thanks

[2019-03-18 16:24] kuvakina commented on #53
In my Chrome, it works correctly so I didn't see it. Thank you

[2019-03-18 17:35] BogdanScherban commented on #53
@tony-shannon @PhilBarrett

Done, but react-datepicker plugin doesn't give possibility to change location of time selector (for example, to locate it below datepicker). For this reason we'll use time input instead of time selector:
![image](https://user-images.githubusercontent.com/39263134/54549996-e7e48e80-49b3-11e9-81d5-89cb22016a22.png)

Done
![image](https://user-images.githubusercontent.com/

[2019-03-18 17:38] tony-shannon commented on #53
Just use " Save" for now please

[2019-03-18 19:19] PhilBarrett commented on #53
@tony-shannon if section 10 is automatically completed, I don't think a button is needed here? Designs say not

[2019-03-19 07:22] kuvakina commented on #53
@PhilBarrett then we have to send the form by clicking the button on 9th section, and then just go to 10th?  are there are changes that should be added to version form 10th section?

[2019-03-19 11:01] PhilBarrett commented on #53
@kuvakina

Also spotted two further typo's

Section 5 / 6. Attorney not attourney
Section 8 - in the dropdown menu - Coordinator not c-ordinator

[2019-03-19 13:38] kuvakina commented on #53
@PhilBarrett fixed

[2019-03-20 10:10] PhilBarrett commented on #53
For recent testing bugs

https://youtu.be/tneJwxnbCug -
https://www.screencast.com/t/cmppUIvlV

Very strange, because we have nowhere this pink colour, and this time it's info that "breathing"

And after some more tests, it changed this way: https://www.screencast.com/t/leTVU7bZqa

And when  pointing on the record, it became pink https://www.screencast.com/t/hSEwH2g3eXP1

[2019-03-20 10:12] kuvakina commented on #53
Here tests from Dima: https://www.screencast.com/t/cmppUIvlV . Very strange, because we have nowhere this pink colour, and this time it's info that "breathing"

And after some more tests, it changed this way: https://www.screencast.com/t/leTVU7bZqa

And when Dima was pointing on the record, it became pink: https://www.screencast.com/t/hSEwH2g3eXP1

[2019-03-20 10:16] kuvakina commented on #53
And one more video for example https://www.screencast.com/t/74dNq36z

Here again showed oval menu, and moved buttons. Also it is ok, for button Cancel in contrast mode to stay as red?

[2019-03-20 12:57] PhilBarrett opened #54 "NES - ReSPECT Bugs"

[2019-03-20 12:59] PhilBarrett commented on #54
- [x] When navigating to different records I can see the Ivor cox ReSPECT form I previously created in said record.  Presume MPI related?
- [x] Dates show US format (MMDDYY) not UK (DDMMYY)
- [x] section 10 shouldn’t show editing as it’s auto completed
- [x] version warning modal and edit version icons not available
- [x] Previous versions of the ReSPECT form should be read only - current I can ed

[2019-03-20 13:00] #5 closed

[2019-03-20 13:01] #27 closed

[2019-03-20 13:01] #44 closed

[2019-03-20 13:01] #52 closed

[2019-03-20 13:01] #26 closed

[2019-03-20 16:14] tony-shannon opened #55 "Respect form JSON mapping"
please see this example JSON to/from the openEHR template
based on this work by @freshehr
https://github.com/RippleOSI/Ripple-openEHR/blob/master/docs/bindings/Current%20Ripple%20Headings/NSS%20ReSPECT/NSS_RESPECT.md

[code]

[2019-03-20 16:17] tony-shannon commented on #55
Comment by @robtweed

The fields that need lining up are the ones in {{}} braces and the ones in functions => func(fieldName)

all the others in quotes are literal text that doesn't change - ie boilerplate stuff

I've asigned tempoorary names for the fields, but they need lining up with Bogdan's names

some of the fields expect code values which are shown in comments - PulseTile should return thos

[2019-03-20 16:40] tony-shannon commented on #55
@BogdanScherban  work on this so far is documented here;

https://docs.google.com/document/d/1nqOSTXyAKdRK-0usTuuNxPSP7tXJ1ypJKLIMIZownI4/edit

[2019-03-20 17:59] tony-shannon commented on #55
https://docs.google.com/document/d/1MhA7-kCCcUM2kBKb6RmsAocV1vRH2DgYNF50O-fNewg/edit
more here

[2019-03-21 16:11] tony-shannon commented on #39
Hi Simon
Can you replace the JSON you have crafted for this with that already in use by PulseTile please?
See doc here
https://docs.google.com/document/u/1/d/1MhA7-kCCcUM2kBKb6RmsAocV1vRH2DgYNF50O-fNewg/edit
We needed to fix the UI JSON for mapping to the openEHR template.
Hope will be easy enough for you to do so
thanks
Tony

[2019-03-21 16:44] tony-shannon opened #56 "Date Null in Respect form template/map"
from Alexey @killmenot
re Respect form

[2019-03-21 16:46] killmenot commented on #56
Here is the part of log that shows that date is null when it's processing by headingService
<img width="1425" alt="Screenshot 2019-03-21 19 44 10" src="https://user-images.githubusercontent.com/119337/54769283-f03a0500-4c11-11e9-8acd-3cf8e2180d28.png">

[2019-03-21 17:58] tony-shannon commented on #55
from Rob

[2019-03-22 09:29] tony-shannon commented on #8
NB linked issues
ReSPECT form API to OpenEHR inc version control #41
https://github.com/RippleOSI/NHS_Ed_Scotland_Open_Platform/issues/41

[2019-03-22 10:32] tony-shannon opened #57 "Migrate Qewd Courier (Respect form) endpoint from YottaDB to openEHR API"
AS interim step Rob has developed QewdCourier MS that persists Respect form UI data to  YottaDB
This is pending the development of a new API type for multiple version forms in openEHR, as Respect form is the first

More details to follow

[2019-03-22 15:53] tony-shannon commented on #39
see this in action here..
http://wrathful-request.surge.sh/browser.html

![image](https://user-images.githubusercontent.com/939996/54835828-dbfe1280-4cba-11e9-9668-36b283a84c77.png)

[2019-03-22 16:49] tony-shannon commented on #57
see related repo with current version of Respect form API, persistent to YottaDB backend, done today by @robtweed
https://github.com/QEWD-Courier/QC-ReSPECT-MS
also see within there, current UI to openEHR JSON mapping in /template, which should be key to refactoring to openEHR DB backend

[2019-03-22 16:51] tony-shannon commented on #57
FAO Alexey @killmenot who has helped with our Qewd Courier openEHR MS work

[2019-03-22 16:53] tony-shannon commented on #57
NB write up of PulseTile UI to Qewd APIs for Respect Form is available here
https://docs.google.com/document/d/1-EXxplkEPG8OckYzx085164_E5_g4DbZS0FQ0dRqZ7c/edit?usp=sharing

[2019-03-22 16:57] tony-shannon commented on #57
PS link to mockups which may give helpful UI context here
https://invis.io/JZQNPCFTK2S

[2019-03-22 16:59] tony-shannon commented on #57
Link to related openEHR template and write up from @freshehr here
https://github.com/RippleOSI/Ripple-openEHR/blob/master/docs/bindings/Current%20Ripple%20Headings/NSS%20ReSPECT/NSS_RESPECT.md

[2019-03-22 17:00] tony-shannon commented on #57
and more notes on the mapping effort by @DmitrySolyannik between PulseTile and openEHR JSON here
https://docs.google.com/spreadsheets/d/1shKr1D7YSGvd3L8km56BdBxhe7hVQMVpkBBkCQY7T08/edit?usp=sharing

[2019-03-25 07:42] tony-shannon commented on #39
@simongamester could you please update this with a brief screencast to allow @BogdanScherban to see how this can be migrated into REspect form application, thanks

[2019-03-25 08:35] simongamester commented on #39
Here's the screencast: https://www.dropbox.com/s/wc0vdm9h9daa3im/ReSPECT%20PDF%20Kit%20Walkthrough.mov?dl=0

And the readme to the repo's demo folder: https://github.com/simongamester/pdfkit/tree/master/demo

[2019-03-27 15:43] tony-shannon commented on #41
Please see this Respect form version control #8 for more related discussion

[2019-03-27 19:30] killmenot commented on #8
@freshehr

Have some questions:

1. "All subsequent updates to the composition should be committed via PUT /composition. This will keep the same composition ID but increment the version suffix."
Does it mean that to create a new version I need to call
(1) PUT /composition
or
(2) PUT /composition/{uuid with versionNo +1}

2. When I request "Retrieve ALL versions of Respect composition" I got  error

[2019-03-28 11:16] freshehr commented on #8
"All subsequent updates to the composition should be committed via PUT /composition. This will keep the same composition ID but increment the version suffix."
Does it mean that to create a new version I need to call

IAN: (2) PUT /composition/{uuid with versionNo +1}

When I request "Retrieve ALL versions of Respect composition" I got error:
#1.0.0 Invocation exception to method:queryInline:java.l

[2019-03-28 13:54] freshehr commented on #8
Ah - still messed up - these work :)

@killmenot  - now tested and still broken however these work

For list```
select b/uid/value as compositionUid, b/composer/name as authorName, b/context/start_time/value as dateUpdated from EHR e[ehr_id/value = '{{ehrId}}'] contains VERSIONED_OBJECT a contains VERSION v[all_versions] contains COMPOSITION b where b/name/value = 'NSS RESPECT Form' ORDER BY b/con

[2019-03-28 14:58] freshehr commented on #8
Latest updates do run but do not return correct data

https://github.com/ethercis/ethercis/issues/176

https://github.com/ethercis/ethercis/issues/177

[2019-03-30 11:15] killmenot commented on #8
@freshehr Hi Ian

When do a POST request, I got the following error. Could you please advice how to fix it?
<img width="1307" alt="Screenshot 2019-03-30 14 11 27" src="https://user-images.githubusercontent.com/119337/55275344-da090480-52f5-11e9-8bd1-c657bf540b22.png">

URL:
http://ethercis1.3-test.ripple.foundation:8080/rest/v1/composition?templateId=RESPECT_NSS-v0&format=FLAT&ehrId=7d4039e0-98bf-

[2019-03-30 11:21] killmenot commented on #8
@freshehr seems I need to omit "format=FLAT" parameter to have the query above working :) Weird but others headings use it...

[2019-03-30 16:54] freshehr commented on #8
@killmenot ...

The line you removed has a typo. It should be
[code]

However, you will still get errors because if you add an identifier object, the id is mandatory..
 e.g you had

[code]
but it needs to be
[code]
If the id value is not available you should not try to send a partial identifier object i.e this should work, because th ewhole identifier object is itself optional.

[code]

Working ex

[2019-04-01 14:33] BogdanScherban opened #58 "PDFkit problems"
@simongamester

Hi, Simon!
I totally added PDF kit to NES. Data from ReSPRECT forms is displayed in PDF. But I found few moments, where I need in your help.

1) Section 4, parameter "cprValue" (for CPR recommendations):
![image](https://user-images.githubusercontent.com/39263134/55335394-b08ddb80-54a3-11e9-9dcd-c6c3dafd1c0a.png)
Right block is usually red. Even if we don't select it. Probably, the

[2019-04-01 17:26] simongamester commented on #58
1. Sorry @BogdanScherban, not quite sure what you mean here. Are you referring to the border of the "CPR attempts NOT recommended" box in the bottom right of your screen? Or the X when 'Focus on symptom control" is selected?

2. This was working correctly in my repo, see screen below:

![Screenshot 2019-04-01 at 18 18 20](https://user-images.githubusercontent.com/8059219/55346498-8e4b8c00-54aa-11e

[2019-04-02 10:25] BogdanScherban commented on #58
@simongamester
Thanks, Simon. Look:

About my first question - this square is always red. Probably, it is because this square is red in initial picture (before we encoded it).
Could you check it?
![image](https://user-images.githubusercontent.com/39263134/55395617-8e9b6400-554a-11e9-8b8f-248f3218ac95.png)

Besides this, I don't see the code, which should add red square in demo:
http://wrathful-req

[2019-04-02 10:29] killmenot commented on #8
@freshehr

Could you please take a look?
https://gist.github.com/killmenot/78ade6c1be0cc789c969afdea9bad021

1. By some reason, when I do the PUT request, it returns me result with first version but meta prop contains the second version (line 16)
2. When I do a GET request with the second version, I got error (line 93)

Or did I do something wrong?

[2019-04-02 10:34] freshehr commented on #8
This one is for @chevalleyc - I thought this had been fixed. The calls that you are making look correct to me. @chevalleyc - it looks as if composition version incrementing is still problematic

[2019-04-02 10:45] freshehr commented on #8
@killmenot - the PUT call needs to carry the **previous** version of the compositionUid

[code]
PUT http://ethercis1.3-test.ripple.foundation:8080/rest/v1/composition/98df5b17-4ff2-4e43-b0db-e42414d595c0::nes.ripple.foundation::1?templateId=RESPECT_NSS-v0
[code]

[2019-04-02 12:11] simongamester commented on #58
Hi @BogdanScherban

1. Yes, you're right. The red box is part of the image we import into the PDF, so should always remain red.

2. I've taken a look at the source code for the react library too and can't see reference to the TextWrapper class which is found within the standard pdfkit library. Is it possible this references a older version? Or would it possible to import the lineWrapper class to g

[2019-04-02 12:58] BogdanScherban commented on #49
These issues have been done:
MEDIUM: It’s not clear which input element the ‘Street Address’ belongs to. Would suggest adding a larger bottom margin below it:
MEDIUM: Increase the bottom margin on form labels
MEDIUM: RIght align the cancel button. It currently appears to be centrally aligned within a padded box:
MEDIUM: Breadcrumb trail does not reference the Patient Summary (not referenced in the

[2019-04-02 14:46] BogdanScherban commented on #50
These issues have been done:

@simongamester
Simon, could you please clarify - what it means?

[2019-04-03 11:16] simongamester commented on #50
Sorry Bogdan, I'm not quite sure a I can't get onto nes-ra.ripple to check this. I think this refers to text which appears immediately below input elements. The screen below was taken from my design and shows how footnote text should appear. I think this is different on the latest build. (Note the line spacing the margins above and below the text.)

![Screenshot 2019-04-03 at 12 14 53](https://use

[2019-04-09 14:08] kuvakina commented on #49
@PhilBarrett this one is fixed.

[2019-04-09 14:16] kuvakina commented on #47
@PhilBarrett can we close this issue?

[2019-04-10 07:54] PhilBarrett commented on #47
@kuvakina awaiting confirmation on this, then yes can be closed, cheers

[2019-04-10 07:56] #49 closed

[2019-04-11 08:54] kuvakina commented on #47
@PhilBarrett this one is done, and with it, we can say that task is done too

[2019-04-12 10:54] PhilBarrett opened #59 "Searching error - Response code"
When a user searches for a patient and enters a wrong value, an error message appears. The error message response code isn't accurate and needs to change from the MPI server to reflect correct error response code

![image_2019_04_12T10_52_20_289Z.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a6886ed18902a00110228a6/125516c66e82c728ace21e0d46e1999b2487bcfbdfb8e67cf409cfc

[2019-04-12 22:28] tony-shannon commented on #28
need to check that all demographics are imported from demographics API ok

[2019-04-12 22:29] tony-shannon commented on #29
remove data completed in detail here

[2019-04-12 22:33] tony-shannon commented on #30
need to test JSON here for persistence

[2019-04-12 22:46] tony-shannon commented on #31
need to check JSON mapping and time is removed from the UI

[2019-04-13 15:05] killmenot commented on #8
@freshehr

Looks like different queries return me the same result:

#### LIST
Query:
[code]
Result:
<img width="1329" alt="Screenshot 2019-04-13 18 03 47" src="https://user-images.githubusercontent.com/119337/56081476-84187e80-5e16-11e9-9252-c89896ec55d1.png">

#### Latest
Query:
[code]

Result:
<img width="1378" alt="Screenshot 2019-04-13 18 04 58" src="https://user-images.githubusercontent.com/1

[2019-04-13 15:51] freshehr commented on #8
@killmenot - To retreive the full kist of previous versions  - See https://github.com/ethercis/ethercis/issues/175#issuecomment-479305569

You will have to use/adapt the SQL statement that @chevalleyc has advised. I will have a little more time tomorrow to advise further - note that you need to send {"sql" : "..."} in the body not {"aql" :"..."}

[2019-04-13 16:06] killmenot commented on #8
[code]
@freshehr Does the advice above work for respectforms only or for all requests to headings?

[2019-04-13 16:15] freshehr commented on #8
@killmenot - should work for all - just change the uid

[2019-04-15 07:41] #4 closed

[2019-04-15 07:51] tony-shannon commented on #40
seems to be working well

[2019-04-15 07:54] PhilBarrett commented on #41
closing as  #8 now master

[2019-04-15 07:54] #41 closed

[2019-04-15 07:55] PhilBarrett commented on #47
Closing as completed

[2019-04-15 07:55] #47 closed

[2019-04-15 07:55] tony-shannon commented on #55
want to tackle with Dima today

[2019-04-15 08:06] PhilBarrett commented on #53
Closing as remaining tasks in #54

[2019-04-15 08:06] #53 closed

[2019-04-15 08:14] PhilBarrett commented on #6
@BogdanScherban please can you make  list of the changes you're making, following your call on last week. Please can you also post a latest sample of JSON that you have for @tony-shannon

[2019-04-15 08:36] tony-shannon commented on #57
Update by email between @killmenot and @BogdanScherban

[2019-04-15 12:30] tony-shannon commented on #8
update by email

posted also to #57

Update by email between @killmenot and @BogdanScherban

[2019-04-15 14:01] tony-shannon commented on #31
this section needs a system date value, which can be edited and then passed to openEHR template

[2019-04-15 14:03] PhilBarrett commented on #34
Is Senior Responsible Clinician being captured in PulseTile,  if so will need to update openEHR template

[2019-04-15 14:08] tony-shannon commented on #22
sections 4 date completed should be enabled

[2019-04-15 15:00] kuvakina commented on #28
For Section 1:
![2019-04-15_1757](https://user-images.githubusercontent.com/40596171/56142922-303d9f00-5fa8-11e9-95e3-2808e1a0fe79.png)

- [x] 1. Hide Date Completed
- [x] 2. Hide System Information

[2019-04-15 15:02] kuvakina commented on #29
For Section 2:
![2019-04-15_1801](https://user-images.githubusercontent.com/40596171/56143125-a0e4bb80-5fa8-11e9-90ac-a50e32d6735c.png)

- [x] 1. Hide Date Completed
- [x] 2. Hide System Information

[2019-04-15 15:05] kuvakina commented on #30
For Section 3:
![3](https://user-images.githubusercontent.com/40596171/56143320-fd47db00-5fa8-11e9-9110-24ce2bef1ad8.png)

- [x] 1. Hide Date Completed
- [x] 2. Hide System Information

[2019-04-15 15:08] kuvakina commented on #31
For Section 4:
![4](https://user-images.githubusercontent.com/40596171/56143505-57e13700-5fa9-11e9-9c88-31cba1597713.png)

- [x] 1. Hide System Information
- [ ] _2. Add a message, that Section 4 is mandatory ?_ (Yes -TS)

[2019-04-15 15:20] kuvakina commented on #32
For Section 5:
![5](https://user-images.githubusercontent.com/40596171/56144460-13569b00-5fab-11e9-8e47-9e33fc5efcfb.png)

- [x] 1. Hide Date Completed
- [x] 2. Hide System Information

[2019-04-15 15:22] kuvakina commented on #33
For Section 6:
![6](https://user-images.githubusercontent.com/40596171/56144604-5e70ae00-5fab-11e9-9d98-9bc454e96256.png)

- [x] 1. Hide Date Completed
- [x] 2. Hide System Information
- [x] _3. Add a message, that Section 6 is mandatory ?_

[2019-04-15 15:23] kuvakina commented on #34
For Section 7:
![7](https://user-images.githubusercontent.com/40596171/56144729-97a91e00-5fab-11e9-9aaf-5fc95cc9f559.png)

- [x] 1. Hide Date Completed
- [x] 2. Hide System Information

[2019-04-15 15:25] kuvakina commented on #35
For Section 8:
![8](https://user-images.githubusercontent.com/40596171/56144850-cc1cda00-5fab-11e9-8c0a-4918a33b7256.png)

- [x] 1. Hide Date Completed
- [x] 2. Hide System Information

[2019-04-15 15:27] kuvakina commented on #36
For Section 9:
![9](https://user-images.githubusercontent.com/40596171/56145009-29189000-5fac-11e9-9eda-777919e34672.png)

- [x] 1. Hide System Information

[2019-04-15 16:21] kuvakina commented on #37
For Section 10:

- [x] 1. Hide System Information
- [ ] 2. Hide Date Completed

[2019-04-16 09:12] kuvakina commented on #28
This task is Done:
![1n](https://user-images.githubusercontent.com/40596171/56197147-e1901380-6040-11e9-84ba-6ab64e3f5eb1.png)

[2019-04-16 09:16] PhilBarrett commented on #28
Thanks, closing issue off

[2019-04-16 09:16] #28 closed

[2019-04-16 09:25] kuvakina commented on #29
This task is Done:
![2n](https://user-images.githubusercontent.com/40596171/56197987-a5f64900-6042-11e9-8ebb-de9962389a64.png)

[2019-04-16 09:26] kuvakina commented on #30
This task is Done:
![3n](https://user-images.githubusercontent.com/40596171/56198057-caeabc00-6042-11e9-8667-24a5592cf204.png)

[2019-04-16 09:30] kuvakina commented on #31
System Information is hidden:
![4n](https://user-images.githubusercontent.com/40596171/56198103-e81f8a80-6042-11e9-9008-63f6b132e500.png)

- [ ] Date Completed needs style fixes

Section 4 isn't mandatory yet. How should it be: we add message/notice inside form or user can't save the version and see the message, that he has to fill forms 4 and 6 to save the version? @PhilBarrett @tony-shannon

[2019-04-16 09:31] PhilBarrett commented on #29
Thanks

[2019-04-16 09:31] #29 closed

[2019-04-16 09:32] kuvakina commented on #32
This task is Done:
![5n](https://user-images.githubusercontent.com/40596171/56198370-801d7400-6043-11e9-87fb-048e72837866.png)

[2019-04-16 09:34] kuvakina commented on #33
Date Completed and System Information are hidden:
![6n](https://user-images.githubusercontent.com/40596171/56198505-bb1fa780-6043-11e9-9436-a1372e7f3060.png)

Section 6 isn't mandatory yet. How should it be: we add message/notice inside form or user can't save the version and see the message, that he has to fill forms 4 and 6 to save the version? @PhilBarrett @tony-shannon

[2019-04-16 09:34] PhilBarrett commented on #37
![Screen Shot 2019-04-16 at 10.33.16.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a6886ed18902a00110228a6/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5700b77276455f56b7191a379ef0c2852415e48be5d4a1f06a3a3dc78e2a436628f0e5abe846e5a22c16f42fdbdd61fbf08b975824cd0e0b99850d2aa6c7bb3d4d216744b470a83ed5c32aa984ecd5df24be64f54a6133e6af43b.png) @tony-shannon As this i

[2019-04-16 09:34] kuvakina commented on #34
This task is Done:
![7n](https://user-images.githubusercontent.com/40596171/56198646-f28e5400-6043-11e9-8da0-94fa1eae68d2.png)

[2019-04-16 09:34] kuvakina commented on #35
This task is Done:
![8n](https://user-images.githubusercontent.com/40596171/56198658-f9b56200-6043-11e9-9de2-eb9728667731.png)

[2019-04-16 09:35] #30 closed

[2019-04-16 09:35] kuvakina commented on #36
System Information is hidden:
![9n](https://user-images.githubusercontent.com/40596171/56198719-1ea9d500-6044-11e9-876a-3f0440bdb18e.png)

- [ ] Date Completed needs style fixes

[2019-04-16 09:35] #32 closed

[2019-04-16 09:35] #34 closed

[2019-04-16 09:36] #35 closed

[2019-04-16 09:38] kuvakina commented on #37
Also wanted to make sure: Do we need hide Date Completed here? @PhilBarrett @tony-shannon

[2019-04-16 09:58] BogdanScherban commented on #37
@PhilBarrett @kuvakina
Save button will be removed later, when we'll add RESPECT API requests. Now this button is necessary to save version in ReactJS storage

[2019-04-16 11:51] kuvakina commented on #54
Where is this:
- Dates show US format (MMDDYY) not UK (DDMMYY)

@BogdanScherban isn't this working:
- Previous versions of the ReSPECT form should be read only - current I can edit the previous version
- The status displays as editing/in progress when going into a previous ReSPECT form version
Video: https://drive.google.com/file/d/1QW6flGZu9PbZbpJXm6A9w5A1x3IE3O_1/view

We have a popup message to

[2019-04-16 11:54] kuvakina commented on #22
Related to issues #31 and #33

[2019-04-16 15:53] BogdanScherban commented on #22
@PhilBarrett @tony-shannon

This was done:

This issue will be done tomorrow, when we create one general button to update version (Publish):

[2019-04-16 15:56] BogdanScherban commented on #54
@PhilBarrett @tony-shannon

This was done:

This issue isn't actual more, because we added modal window for error handler:

This issue will be done tomorrow, when we create one general button to update version (Publish):

[2019-04-17 10:35] kuvakina commented on #33
To all sections, except for 4 and 6, was added the message, that Sections 4 and 6 are mandatories.

[2019-04-17 13:32] kuvakina commented on #58
While testing PDFKit, found the next issues:

- [x] That's how PDF opens in a new tab in **Chrome**:  https://www.screencast.com/t/tDGSNVbI (but it works ok in **Firefox**: https://www.screencast.com/t/sKwJgoOvW )

- [x] In **Section 3** scroll not working (I chose right balance https://www.screencast.com/t/Auq5nQ9UtyF ) https://www.screencast.com/t/JvQf30XXX8I

- [x] In **Section 4** results of r

[2019-04-18 09:42] PhilBarrett opened #60 "Creating new patient requires refresh before appears"
Added new patient and yet row empty just after, needed to refresh a few times

[2019-04-18 09:45] PhilBarrett commented on #60
![Screen Shot 2019-04-18 at 10 43 29](https://user-images.githubusercontent.com/12699244/56352362-057d6180-61c7-11e9-86ed-b7fffa38687e.png)

[2019-04-18 09:47] PhilBarrett opened #61 "Patient Banner issues"
- [x] Patient Banner - DOB invalid,
- [x] PatientBanner - Doctor, NA so remove from Banner
- [ ] Patient information disappears sporadically

[2019-04-18 09:48] PhilBarrett commented on #61
![Screen Shot 2019-04-18 at 10 47 07](https://user-images.githubusercontent.com/12699244/56352586-76bd1480-61c7-11e9-90e5-d4df8e9f3745.png)
![Screen Shot 2019-04-18 at 09 16 26](https://user-images.githubusercontent.com/12699244/56352624-83da0380-61c7-11e9-81fb-3726bc19352a.png)

[2019-04-18 09:49] PhilBarrett opened #62 "Patient summary screen changes"
- [x]  Remove Cog
- [x]  Remove list view

Only display the ReSPECT header in the patient summary

[2019-04-18 09:50] PhilBarrett opened #63 "New form created - displays sections already as completed"
New patient + New version
Section 1 & 2 showing as complete on arrival

[2019-04-18 09:51] PhilBarrett commented on #63
![Screen Shot 2019-04-18 at 10 51 10](https://user-images.githubusercontent.com/12699244/56352810-e9c68b00-61c7-11e9-81e4-1f5c175800da.png)

[2019-04-18 09:53] PhilBarrett opened #64 "Change in logic when new version published"
When the user clicks publish a model displaying either successfully published, or error message (detailing the error) is required

Once model acknowledged it needs to take you back to the list of respect versions

[2019-04-18 09:56] PhilBarrett opened #65 "Change of behaviour re creating new version"
Currently, you can click on an edit button against a version which doesn't exist, which is confusing for the user.

- Remove Edit button
- Where no versions exist, select create
- Where there are versions already in existence, an Update button should appear.
 - If the user selects update, the create new version modal should appear

Also currently: clicking on Respect header in Left Hand Menu, init

[2019-04-18 09:56] PhilBarrett opened #66 "Ensure sections 4 and 6 are mandatory before a publish option appears"

[2019-04-18 09:57] PhilBarrett commented on #66
![Screen Shot 2019-04-18 at 10 57 10](https://user-images.githubusercontent.com/12699244/56353172-bdf7d500-61c8-11e9-8995-95c8d72bff05.png)

[2019-04-18 09:58] PhilBarrett opened #67 "Remove box from sections (see screenshot"

[2019-04-18 09:58] PhilBarrett commented on #67
![Screen Shot 2019-04-18 at 09 44 09](https://user-images.githubusercontent.com/12699244/56353247-e1bb1b00-61c8-11e9-8c32-3f18cf2a2681.png)

[2019-04-18 09:58] PhilBarrett opened #68 "Mismatch between Completed Sections and returned data"
![Screen Shot 2019-04-18 at 10 59 07](https://user-images.githubusercontent.com/12699244/56353332-10d18c80-61c9-11e9-9e50-9af44694176d.png)
![Screen Shot 2019-04-18 at 10 59 26](https://user-images.githubusercontent.com/12699244/56353333-116a2300-61c9-11e9-8ea9-fd68f24c761d.png)

[2019-04-18 10:12] PhilBarrett opened #69 "Versions not saving"

[2019-04-18 10:13] PhilBarrett commented on #69
Nothing saved
![Screen Shot 2019-04-18 at 11 13 04](https://user-images.githubusercontent.com/12699244/56354171-fe585280-61ca-11e9-8677-be167604da24.png)

![Screen Shot 2019-04-18 at 11 13 10](https://user-images.githubusercontent.com/12699244/56354172-fe585280-61ca-11e9-9ad3-b76c730247b8.png)

[2019-04-18 10:24] PhilBarrett commented on #66
Section 4 saving with invalid date

[2019-04-18 10:26] PhilBarrett opened #70 "Version numbering goes out of sync (2x V1’s) and highlights two row when selecting one both with different times"

[2019-04-18 10:28] PhilBarrett opened #71 "Issue: Clicking onto Home button takes to MPV + previous search (plus null result), click on x in search box and takes back to home screen"

[2019-04-18 10:30] PhilBarrett commented on #31
see #66 for new behaviour required

[2019-04-18 10:31] PhilBarrett commented on #22
See #66 for required behaviour, closing out here

[2019-04-18 10:31] #22 closed

[2019-04-18 10:39] #2 closed

[2019-04-18 10:41] PhilBarrett commented on #59
Need to understand if the issues experienced is React Admin related

[2019-04-18 10:41] tony-shannon commented on #6
done with long tails of issues being tackled now

[2019-04-18 10:41] #6 closed

[2019-04-18 10:42] tony-shannon commented on #38
done with related issues being tidied up now

[2019-04-18 10:42] #38 closed

[2019-04-18 10:45] PhilBarrett commented on #62
Tested, working fine

[2019-04-18 10:45] #62 closed

[2019-04-18 10:47] PhilBarrett commented on #65
Need to check this with new patient record: Where no versions exist, select create

Otherwise completed and tested fine

[2019-04-18 11:10] tony-shannon commented on #69
Section 3 - slider not saving

[2019-04-18 11:10] tony-shannon commented on #69
Section 4 - slider, CPR rec, date completed not saving (Clin Guidance is)

[2019-04-18 11:12] tony-shannon commented on #69
Section 5 isnt saving either value

[2019-04-18 11:12] tony-shannon commented on #69
Section 6 radio buttons not saving

[2019-04-18 11:15] tony-shannon commented on #69
Section 7, 8, 9 not saving

[2019-04-18 11:16] tony-shannon commented on #69
Publish not working - waiting for success/failure response

[2019-04-18 11:25] PhilBarrett opened #72 "Remove Status column from version list"

[2019-04-18 11:28] PhilBarrett commented on #67
Checked and all removed

[2019-04-18 11:28] #67 closed

[2019-04-18 11:48] kuvakina commented on #71
@PhilBarrett @tony-shannon
Bogdan fixed this issue and upload it on nes-dev.

[2019-04-18 12:22] PhilBarrett opened #73 "Clicking onto Home button in the breadcrumb trail takes to MPV + previous search (plus null result), click on x in search box and takes back to home screen"
Similar behaviour to #71

[2019-04-18 12:22] PhilBarrett commented on #71
Tested and working fine, #73 created which is a similar issue but not a priority for just now

[2019-04-18 12:22] #71 closed

[2019-04-18 13:02] kuvakina commented on #61
@PhilBarrett @tony-shannon
Bogdan fixed this issue.
tested DOB and Doctor, NA : https://www.screencast.com/t/TYDGfHYs
Didn't see the disappearance of  Patient information also

[2019-04-18 14:28] tony-shannon opened #74 "Breaker ---"
break in project for PM

[2019-04-18 15:06] kuvakina commented on #54
@PhilBarrett @tony-shannon

The issue with section 10 (shouldn’t show editing as it’s auto completed) was fixed:
![2019-04-18_1807](https://user-images.githubusercontent.com/40596171/56370998-f0272800-6204-11e9-9c2d-eca8d854b4ed.png)

[2019-04-18 15:14] PhilBarrett opened #75 "Error when creating new patient (see screenshots)"
Linked to MPI

[2019-04-18 15:16] PhilBarrett commented on #60
Now receiving new error related to MPI

![Screen Shot 2019-04-18 at 15 55 21](https://user-images.githubusercontent.com/12699244/56371618-54da8680-61f5-11e9-865f-0e2491dc8f45.png)
![Screen Shot 2019-04-18 at 15 58 54](https://user-images.githubusercontent.com/12699244/56371620-54da8680-61f5-11e9-9ee6-be789c060d46.png)
![Screen Shot 2019-04-18 at 16 14 09](https://user-images.githubusercontent.com/

[2019-04-18 16:06] simongamester commented on #58
Regarding the PDF bug in Chrome. Web Inspector shows this as a 404 error with content-type: text-html

![Screenshot 2019-04-18 at 17 00 15](https://user-images.githubusercontent.com/8059219/56374616-86eee700-61fb-11e9-8454-23b43aeab68d.png)

This is the second of two requests from the same url. The first is for content-type: application/pdf. Could it be that this being forwarded or rewritten by th

[2019-04-18 16:08] kuvakina commented on #58
@simongamester but for some reason, it works correctly in Firefox, so I assume it is a browser issue

[2019-04-18 16:50] kuvakina opened #76 "Bug with Versions# after 11th version"
Found a problem:
When a user had created versions with a number more than 11, versions counter at the server side returns to 1
![image](https://user-images.githubusercontent.com/40596171/56377555-5024cb00-6213-11e9-85c9-57e0ee1c31f3.png)

[2019-04-18 16:51] tony-shannon commented on #64
Bogdan has improved this and now redirects to updated list of versions

[2019-04-18 17:08] simongamester commented on #58
Yes, but might be the way different browsers handle binary streams. Maybe Firefox defaults to PDF, but Chrome requires it to be more specific. In the demo version I handed over to Bogdan, the PDFs were displaying OK in Chrome and Firefox.

[2019-04-18 17:11] PhilBarrett opened #77 "Reduce main NHS Scotland logo on landing screen"
Please reduce by 30-40%

[2019-04-18 17:11] PhilBarrett commented on #77
![Screen Shot 2019-04-18 at 18 10 38](https://user-images.githubusercontent.com/12699244/56378601-704d8d80-6205-11e9-9848-2a5024113eb3.png)

[2019-04-18 17:16] PhilBarrett opened #78 "Change NHS number to CHI Number throughout"
NES use the CHI number, the platform currently shows NHS Number at

Multi Patient View
Create patient
Single patient view

Needs to be changed to CHI number

[2019-04-18 17:51] simongamester commented on #58
I've looked through the earlier issues on the PDF and have updated my original demo version to resolve the issues. @Bogdan, if you take a look at the following DIFF you should be able to make the same incremental changes to your version.

https://github.com/foliojs/pdfkit/commit/71eee9285af40feb08d3032f085644ba25250344#diff-a78f49ab1342965a5530cd86ac39c7cc

Below are some notes in each issue indiv

[2019-04-19 11:55] BogdanScherban commented on #68
@PhilBarrett
Is it OK?
![image](https://user-images.githubusercontent.com/39263134/56423079-20c59b00-62b3-11e9-92d6-374517fe7cb1.png)

I think, main theme color will be better than light blue color

[2019-04-19 13:05] kuvakina commented on #78
For Multi Patient View , Create patient , Single patient view NHS Number was changed on CHI number.

This task is Done.

[2019-04-19 13:14] kuvakina commented on #77
We changed this. Now it looks this way:
![Screen Shot 2019-04-19 at 16 11 49](https://user-images.githubusercontent.com/40596171/56425724-368c8d80-62be-11e9-9bbf-1d72897c89f1.png)

[2019-04-19 13:16] kuvakina commented on #72
This task was done:
![2019-04-19_1615](https://user-images.githubusercontent.com/40596171/56425790-72275780-62be-11e9-9b6e-b079e4d94d57.png)

[2019-04-19 17:07] kuvakina commented on #50
@simongamester could you please specify where is it:

1. Panel footers should now have a grey background.
2. Soften the borders on textareas.

[2019-04-19 17:12] kuvakina commented on #64
Bogdan made it that when the version was successfully published, we are redirected to versions list.

Bogdan added error message, when version not saved, but for now I can't test it.

[2019-04-19 17:13] kuvakina commented on #73
@PhilBarrett could you please add video?
I don't see X in search box  when I click Home button

[2019-04-19 17:23] simongamester commented on #50
1. I think this has been resolved. There was a typo on the original document which should have read 'panel footers should *NOT* have a grey background'. I can see that this has been applied.

2. Refers to the border colour of textareas as highlighted below.

![Screenshot 2019-04-19 at 18 22 18](https://user-images.githubusercontent.com/8059219/56435388-21205f00-62d0-11e9-8ea0-9b92573977c7.png)

Th

[2019-04-19 18:02] kuvakina commented on #50
Thanks @simongamester , I understand. Then we will fix 2 issues

[2019-04-22 09:16] BogdanScherban commented on #36
@kuvakina @PhilBarrett
The issue has been done and changes were upload

https://www.screencast.com/t/oVAObtXZh

[2019-04-22 11:37] kuvakina commented on #54
@BogdanScherban Please change date also here:

- [ ] Dates show US format (MMDDYY) not UK (DDMMYY)
![date](https://user-images.githubusercontent.com/40596171/56498821-21a53980-650c-11e9-8fd2-f8f5d2501a45.png)

[2019-04-22 15:50] kuvakina commented on #50
The issues were solved:

LOW: Increase the line heights for footnote text to improve legibility. Also increase font size:
https://www.screencast.com/t/RnJIw4mUw39b

LOW: Soften the borders on textareas:
https://www.screencast.com/t/VVG0qaQuST0s

[2019-04-22 15:52] kuvakina commented on #70
While doing the tests this issue didn't appear.

[2019-04-22 16:00] kuvakina commented on #63
This issue was done for new version:
https://www.screencast.com/t/SwoYRtJOn

But @PhilBarrett how we should highlight a new patient? (all sections already white):
https://www.screencast.com/t/8RFe9Cbc5Xx

[2019-04-22 16:03] kuvakina commented on #75
@PhilBarrett I didn't see errors while creating new patients. Can we consider this task as Done?

[2019-04-22 16:06] kuvakina commented on #76
This issue was solved: https://www.screencast.com/t/BLBVnpWjw5

[2019-04-22 16:08] kuvakina commented on #60
Now when you create a new patient you see it immediately as the last row.

[2019-04-22 16:09] kuvakina commented on #66
This issue was solved: https://www.screencast.com/t/nb6RnTQSeUhr

[2019-04-23 11:53] kuvakina commented on #73
@PhilBarrett This issue was solved:
https://drive.google.com/file/d/12DK8fHHLGWh9TkZ3f4N0feX3Ygr99_V7/view

[2019-04-23 13:15] PhilBarrett commented on #73
Reviewed and happy to close, thanks

[2019-04-23 13:15] #73 closed

[2019-04-23 17:26] kuvakina commented on #59
The issue with search was solved:
![2019-04-23_2021](https://user-images.githubusercontent.com/40596171/56602367-fa329780-6605-11e9-9f1e-0096361fe1e6.png)

@PhilBarrett

[2019-04-23 17:43] kuvakina commented on #58
@simongamester I've marked issues that were solved above. And the main one is that PDFKit didn't open in Chrome.

However some issues left. Some ofthen fron backend. I believe Dmitry raised this issue.

[2019-04-23 17:48] kuvakina opened #79 "When create very first Version, creates 2 versions"
When create very first Version it create 2 versions: first is empty and second with info that was filled in.

See the video:
https://drive.google.com/file/d/1Om4SuG4yg3vKT0smF5173R5PqYCeil82/view

[2019-04-23 17:55] kuvakina commented on #69
@tony-shannon some issue were fixed and I added the ones I've noticed:

- [x] Section 2 - "Details of other relevant planning documents" not saving
- [x] Section 3 - slider not saving
- [x] Section 4 - slider
- [x] Section 4 - CPR rec
- [ ] Section 4 - date completed not saving (Clin Guidance is)
- [x] Section 4 - Clinical signature not saving
- [x] Section 5 - isnt saving either value
- [x] Secti

[2019-04-24 08:13] PhilBarrett commented on #76
Before closing this issue, what was the reason for the bug please @kuvakina

[2019-04-24 08:15] PhilBarrett commented on #59
Reviewed and closing

[2019-04-24 08:15] #59 closed

[2019-04-24 08:18] PhilBarrett commented on #72
Reviewed, working fine and closing

[2019-04-24 08:18] #72 closed

[2019-04-24 08:18] PhilBarrett commented on #77
Thanks, closing off

[2019-04-24 08:18] #77 closed

[2019-04-24 08:19] PhilBarrett commented on #78
Reviewed and confirmed.

[2019-04-24 08:19] #78 closed

[2019-04-24 10:03] PhilBarrett opened #80 "NES - ReSPECT Bugs review April"
- [x] Section 1 Street address isn't displaying **BS**
- [x] Section 1 remove status and date when creating new version
- [x] Section 3 slider not saving
- [x] Section 4 date picker error **BS**
- [x] Section 4 slider not saving
- [x] Section 7 date and time format
- [x] Section 7  second clinical signature can be removed from the UI
- [x] Section 8 not saved - PB to check
- [x] Section 9 date rev

[2019-04-24 10:04] PhilBarrett commented on #80
![Screen Shot 2019-04-24 at 10.41.36.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a6886ed18902a00110228a6/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5700b77276456f76b7191a379ef0c2f50415c48be5d4a1f06a3a3dc78e2a436628f0e5abe846e5a22c16f42fdbdd61fbf08b975824cd0e0b99850d2aa6c7bb3d4d216744b470a83ed5f37aa984ecd5ef74be14f51a3153e66f43b.png)

[2019-04-24 10:17] PhilBarrett commented on #80
Responsive issue
![Screen Shot 2019-04-24 at 11.15.35.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a6886ed18902a00110228a6/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5700b77276456f76b7191a379ee0c2a54415c4bbe5d4a1f06a3a3dc78e2a436628f0e5abe846e5a22c16f42fdbdd61fbf08b975824cd0e0b99850d2aa6c7bb3d4d216744b470a83ed5c32aa984ecd5ef74be04d56a6143162f43b.png)

[2019-04-24 11:21] simongamester commented on #58
@kuvakina Just looked through these. Is there anything you need me to look at here or are the other sections yet to be completed?

[2019-04-24 11:35] kuvakina commented on #58
Hi @simongamester sorry didn't update yet: we solved the issue with Chrome, thanks.

The issue left is with Section 4 - CPR recommendation: we don't see a chosen answer on PDF form. Could you please help us?

[2019-04-24 11:36] BogdanScherban commented on #80
@PhilBarrett @tony-shannon
Few moments about this issue:

Street address is displayed, but address line 2 field is empty. Why?
Because I get this info from response to mpi/Patient/{id}:
![image](https://user-images.githubusercontent.com/39263134/56657571-0ddf0c00-66a1-11e9-9218-ab14f746ffa1.png)

Total street address is returned in the marked element.
Suggest to move this field generally - we save

[2019-04-24 11:49] kuvakina commented on #80
@PhilBarrett @tony-shannon
Also re Section 8 - Other details:
right now we don't see this field in PDF because in Sections it's type is text area, and for PDF it should be a field.

@PhilBarrett suggested to change it to fields also. And also add this as extra column in the table @BogdanScherban can you please give more info re this?

[2019-04-24 11:51] BogdanScherban commented on #80
to @kuvakina comment:

We can add details field to array. But in this case Dima or Alexey should do the same changes at the server side and in the database. And Respect JSON will be changed too.

[2019-04-24 11:53] PhilBarrett commented on #80
Thanks for the updates, is Dima working with Bogdan on these, picking up the server side issues?

[2019-04-24 12:04] kuvakina commented on #80
@PhilBarrett Dima updates nes/yottaDB/docker and them he can test some of the issues above and tell if they are done

[2019-04-24 12:39] simongamester commented on #58
The radio box on the form determines where the signature should be displayed at the bottom of the page. I've created a function in my demo called getCPRValue which takes obj.clinicalRecommendation.cprValue and returns an X coordinate where the signature (obj.clinicalRecommendation.clinicalSignature) should be displayed i.e. 'CPRRecommended', 'ModifiedCPR', 'NotforCPR'

[2019-04-24 12:43] kuvakina commented on #80
@tony-shannon @PhilBarrett Could you please comment re Bogdan's suggestions:

Street address is displayed, but address line 2 field is empty. Why?
Because I get this info from response to mpi/Patient/{id}:
Total street address is returned in the marked element.

-> **Suggest to move this field generally - we save it nowhere.**

@tony-shannon said, that we should save only string values like "Prior

[2019-04-24 12:45] kuvakina commented on #80
Also Bogdan remover statuses from Sections 1 and 10
![2019-04-24_1544](https://user-images.githubusercontent.com/40596171/56660334-ff482300-66a7-11e9-96fa-30ebd39eec97.png)

[2019-04-24 12:53] BogdanScherban commented on #80
These issues were done:

These issues because data isn't saved on the server side:

[2019-04-24 13:07] PhilBarrett commented on #80
regarding

Because I get this info from response to mpi/Patient/{id}:
image

A number of addresses have two lines for their address i.e.

House name
Street name
City
County
Postcode

So the MPI would need to cater for this. @tony-shannon one for the backlog I believe at this time.

[2019-04-24 13:49] PhilBarrett commented on #80
Section 4 -Clinical signature needs to be added to template. Interim, use logged in username

[2019-04-24 14:08] PhilBarrett opened #81 "Responsive view brings back old patient banner"

[2019-04-24 14:08] PhilBarrett commented on #81
![Screen Shot 2019-04-24 at 11.15.35.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a6886ed18902a00110228a6/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5700b77276456f76b7191a379ee0c2a54415c4bbe5d4a1f06a3a3dc78e2a436628f0e5abe846e5a22c16f42fdbdd61fbf08b975824cd0e0b99850d2aa6c7bb3d4d216744b470a83ed5c3daa984ecd5ef74ae54457ac103760f43b.png)

[2019-04-24 14:14] PhilBarrett opened #82 "Publish of new version ReSPECT form delay"
Publishing a took a long time to refresh/publish, need to consider holding message

[2019-04-24 14:16] PhilBarrett opened #83 "Searching for the second time brings back old results before the new results are returned."
searching for the second time brings back old results before the new results are returned. e.g. search smith, then search jackson, Smith returned first, then jackson results as intended.

[2019-04-24 14:36] BogdanScherban commented on #80
Done

[2019-04-24 15:54] kuvakina commented on #80
@BogdanScherban for "Section 4 slider not saving" needs to be a binary choice:
0 all the way to the left  OR 100 all the way to the right

Also could you please fix this one:
Section 4 Isn't clear enough for such an important part of the form. X needs to be lower and larger and it needs a large circle around it really, to really emphasise the choice

[2019-04-24 17:16] PhilBarrett opened #84 "ReSPECT form spelling errors"
@kuvakina please can you proof read the ReSPECT form and the application for spelling ,mistakes. I've found a number below

**Section 2**
-  recomendations recorder **changed to** recommendations recorded
**Section 4**
- Clinical recomendations **changed to** Clinical recommendations
-  clinicaly **changed to** Clinically
-  includingbeing **changed to**  including being
**Section 5**
- Do that **

[2019-04-25 08:41] BogdanScherban commented on #84
@kuvakina @PhilBarrett
All issues were done.

[2019-04-25 08:47] BogdanScherban commented on #81
@PhilBarrett @kuvakina
This issue were done

[2019-04-25 09:45] #74 closed

[2019-04-25 10:30] kuvakina opened #85 "EtherCIS missing date and signature fields"
Right now we have hardcoded data in dates: https://www.screencast.com/t/bSvCLtoIp0 ; And for signature
- for section 4: https://www.screencast.com/t/yZhQcZL7E
- for Section 7: https://www.screencast.com/t/QQHhfBVeed
- for Section 9: https://www.screencast.com/t/3HjIYwldTa

Seems we are missing those fields in EtherCIS. Could maybe Ian or Christian add those fields?

[2019-04-25 10:57] PhilBarrett commented on #84
Section 7 - Clinician name and clinician signature not clinical

[2019-04-25 11:04] kuvakina opened #86 "For doctor should be added GMC/NMC number"
(details will be provided)

[2019-04-25 11:34] PhilBarrett opened #87 "Preferred name not recorded"
When a PDF is created from the ReSPECT form, the preferred name (e.g. Phil rather than Philip)  is mapped to Prefix (e.g. Mr/Mrs/Dr). I don't see Preferred name as an option in the MPI / UI, to be able to record the patients preferred name.

[2019-04-25 11:35] PhilBarrett commented on #87
![Screen Shot 2019-04-25 at 12.34.57.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a6886ed18902a00110228a6/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5700b77276456f66b7191a379ed0c2855415a49be5d4a1f06a3a3dc78e2a436628f0e5abe846e5a22c16f42fdbdd61fbf08b975824cd0e0b99850d2aa6c7bb3d4d216744b470a83ed5c32aa984ecd5ef742e34c54a1133161f43b.png)

![Screen Shot 2019-04-

[2019-04-25 12:32] kuvakina commented on #87
@PhilBarrett
This issue was fixed:
![PN1](https://user-images.githubusercontent.com/40596171/56735858-5107b080-676f-11e9-8569-e588993a7d09.png)
![PN2](https://user-images.githubusercontent.com/40596171/56735870-582ebe80-676f-11e9-921f-e98a3564c661.png)

[2019-04-25 15:47] kuvakina opened #88 "NES Patient and Version fixes"

[2019-04-25 16:10] PhilBarrett commented on #81
Closing after review

[2019-04-25 16:10] #81 closed

[2019-04-25 16:10] #63 closed

[2019-04-25 16:11] PhilBarrett commented on #68
@BogdanScherban that's fine, thanks. I note C is always highlighted in the right hand side, not greyed out as the others, any reason for this?

[2019-04-25 16:20] kuvakina commented on #88
- [x] Hide Prefered Name (old Prefix) from Patients List

![2q](https://user-images.githubusercontent.com/40596171/56749838-2c213680-678b-11e9-872b-9a8f43cf49dd.png)

- [x] Section 7 - Clinician name and clinician signature, not clinical ( #84 )

- [x] Section 4 - slider - needs to be a binary choice: 0 all the way to the left OR 100 all the way to the right  (#80 )

- [x] Sometimes have an error

[2019-04-26 07:53] #84 closed

[2019-04-26 13:06] #80 closed

[2019-04-26 13:30] #58 closed

[2019-04-26 13:34] PhilBarrett opened #89 "Low priority format/spelling bugs"
MPV - Born date is incorrect, should be DDMMYY

Section 4 - Clinician not clinical signature

[2019-04-26 13:35] PhilBarrett opened #90 "Hide dates from Respect sections"

[2019-04-26 13:37] PhilBarrett opened #91 "When first ReSPECT form is created, two versions are created"
Version one is the Post
Version two is the GET and Update

[2019-04-26 15:16] PhilBarrett opened #92 "Deploy ReSPECT to nes-demo and create test accounts and dummy patients"
https://docs.google.com/document/d/15jyKdjlVva5dob3AN_TYHXTjuI-u7OUTOr1MCizZsGw/edit

[2019-04-30 09:19] #39 closed

[2019-04-30 09:20] PhilBarrett commented on #70
Not able to recreate, closing

[2019-04-30 09:20] #70 closed

[2019-04-30 09:22] PhilBarrett opened #93 "UX/UI Refinement: Panel footers should now have a grey background."

[2019-04-30 09:23] PhilBarrett commented on #50
remaining task split off and put into icebox "Panel footers should now have a grey background." see #93

[2019-04-30 09:23] #50 closed

[2019-04-30 09:40] #75 closed

[2019-04-30 09:43] PhilBarrett opened #94 "Section 6 option C shows as highlighted bold compared to the other options which are grey"
![image.png](https://images.zenhubusercontent.com/5c90c9fcd76ef51f6b0fddfd/c10b4a6c-ad0f-4e8a-bf0d-6c21fb4f1793)

[2019-04-30 09:44] kuvakina opened #95 "DOB on Patient List: change to UK format"
On the Patient List Date of Birth shown in MMDDYYYY, but should be DDMMYYYY.

![DOB.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/699ecffc-a22f-45bc-a041-834d0c2284a3)

[2019-04-30 09:44] PhilBarrett commented on #68
Remaining and separate issue created as #94

[2019-04-30 09:44] #68 closed

[2019-04-30 09:47] PhilBarrett commented on #89
See #95 for MPV change

[2019-04-30 09:47] #89 closed

[2019-04-30 09:47] kuvakina commented on #89
Open issue for DOB on MPV here: #95

[2019-04-30 09:50] PhilBarrett commented on #54
Reviewed and closing

[2019-04-30 09:50] #54 closed

[2019-04-30 09:52] PhilBarrett commented on #90
Reviewed and resolved. Thanks

[2019-04-30 09:52] #90 closed

[2019-04-30 09:54] #87 closed

[2019-04-30 09:54] PhilBarrett commented on #87
Reviewed and resolved.

[2019-04-30 09:56] PhilBarrett commented on #55
@tony-shannon are you happy for me to close this off now?

[2019-04-30 09:58] #37 closed

[2019-04-30 10:00] PhilBarrett commented on #33
Thanks @kuvakina so to clarify/confirm, the user won't be able to create a new version/update a version unless sections 4 and 6 have been created/updated/saved?

[2019-04-30 10:02] PhilBarrett commented on #33
See #66

[2019-04-30 10:02] #33 closed

[2019-04-30 10:02] #31 closed

[2019-04-30 10:04] #60 closed

[2019-04-30 10:05] #61 closed

[2019-04-30 10:05] PhilBarrett commented on #61
Unable to recreate "Patient information disappears sporadically" issue. Closing

[2019-04-30 10:07] #64 closed

[2019-04-30 10:07] #65 closed

[2019-04-30 10:07] PhilBarrett commented on #65
Checked and working fine.

[2019-04-30 10:08] #40 closed

[2019-04-30 10:09] kuvakina commented on #76
the reason for a bug was in versions counter on the server side: counter was set up by default on 11. Bogdan and Dima changed it.

[2019-04-30 10:11] #76 closed

[2019-04-30 10:12] PhilBarrett commented on #57
@killmenot can you confirm the migration is now complete please?

[2019-04-30 10:14] PhilBarrett commented on #66
@kuvakina can you confirm that when creating a new form, or updating an existing form (a new version) that section 4 and section 6 must be completed before it can be published?

[2019-04-30 10:19] killmenot commented on #57
@PhilBarrett I talked with Dmitry regarding additional changes and he has nothing to add to the opened PR. He and Bogdan works with that version.

The only changes we need to take care are:
 - apply db fix to YottaDB keys length (I saw a separate ticket)
 - unit tests that covers mapping to PT JSON and vice versa (will do it in a separate PR)

[2019-04-30 10:37] PhilBarrett opened #96 "When searching returns no results, I'm unable to create a new record"
When I search for a patient record, if there are no results returned, it asks me to try again. If i close the modal, it returns me to the home screen.

I don't have an option to create a new patient record if no results returned.

![Screen Shot 2019-04-30 at 11.31.36.png](https://images.zenhubusercontent.com/5c90c9fcd76ef51f6b0fddfd/a39119f3-a7a2-4a0c-88c1-069a88c79f4d)

[2019-04-30 10:48] PhilBarrett commented on #96
Suggestion would be to  do away with the modal and just show 'no results' found in the MPV view 1st row. The Create button is already there.

[2019-04-30 11:34] PhilBarrett opened #97 "Creation of new patient depends on date picker rather than manual DOB"
If I enter numerical values into the new patient record, i get the following error. When I use the date picker this doesn't occur. Need to cater for both manually entering DOB and using the date picker.

![Screen Shot 2019-04-30 at 12.07.22.png](https://images.zenhubusercontent.com/5c90c9fcd76ef51f6b0fddfd/139077fb-b2f0-4824-ac6c-ca540b14464a)

[2019-04-30 11:37] PhilBarrett opened #98 "Change author for version 1 of a new form to System"
Currently when a new ReSPECT form is created, it creates two versions. One System generated (post) which is the empty version, then user generated (Put).

Need to change v1 to System

[2019-04-30 11:38] PhilBarrett opened #99 "Section 4 isn't saving when updated"

[2019-04-30 11:40] PhilBarrett opened #100 "MPV address isn't displaying correctly"
when creating a new patient, the full address isn't show in the MPV list.

![Screen Shot 2019-04-30 at 12.11.16.png](https://images.zenhubusercontent.com/5c90c9fcd76ef51f6b0fddfd/c2456753-6543-423f-a7c2-8313c9c2193f)![Screen Shot 2019-04-30 at 12.14.29.png](https://images.zenhubusercontent.com/5c90c9fcd76ef51f6b0fddfd/c0f5eb76-3257-4935-aab4-0ff7b6aef09a)

When refreshed it appears, but postcode d

[2019-04-30 11:44] PhilBarrett opened #101 "Section 7 bugs"
"Hello Ian I found one strange thing regarding step #7, when we sending array of clinician_signatures, ethercis saves only first item and skip other data. But in step #8 and #9 everything works fine. I can show you data that I am sending if it will help

https://gist.github.com/DmitrySolyannik/469d2b76d9e1819e4aa4c7eccf81e55a

And this one more detailed
https://gist.githubusercontent.com/DmitrySol

[2019-04-30 11:51] PhilBarrett commented on #91
Rename author to System

[2019-04-30 11:51] #98 closed

[2019-04-30 11:51] PhilBarrett commented on #98
Duplication of #91

[2019-04-30 11:55] PhilBarrett commented on #82
Not been able to recreate.

[2019-04-30 11:55] #82 closed

[2019-04-30 11:58] PhilBarrett commented on #42
Out of resource now, unable to progress this. NES to pick up.

[2019-04-30 11:58] PhilBarrett commented on #20
NES to set up

[2019-04-30 11:59] PhilBarrett commented on #69
This has been picked up by splitting the issues out. Closing here

[2019-04-30 11:59] #69 closed

[2019-04-30 12:04] PhilBarrett commented on #99
Assuming EtherCIS related following similar issues. @DmitrySolyannik can you confirm please.

[2019-04-30 13:34] PhilBarrett commented on #99
Retested multiple times, couldn't recreate

[2019-04-30 13:34] #99 closed

[2019-04-30 14:10] PhilBarrett opened #102 "MPI to cater for preferred name status"

[2019-04-30 15:04] PhilBarrett commented on #102
We need to understand if the FHIR MPI can be altered so preferred name is used in place of prefix
or added as an additional value

UI shouldn't send back null value as this will result in the following error

{error: "instance.name[0].prefix: is not of a type(s) string", path: "/mpi/Patient/:id"}
error: "instance.name[0].prefix: is not of a type(s) string"
path: "/mpi/Patient/:id"

[2019-05-02 07:56] #46 closed

[2019-05-02 07:56] PhilBarrett commented on #46
Signatures being taken from username of logged in user

[2019-05-02 07:57] #17 closed

[2019-05-02 07:58] PhilBarrett commented on #56
@DmitrySolyannik can you confirm this is resolved now please

[2019-05-02 07:59] PhilBarrett commented on #1
Descoped for the moment as no clear wording agreed

[2019-05-02 07:59] #1 closed

[2019-05-02 08:01] PhilBarrett commented on #20
NES internal issue, closing off here

[2019-05-02 08:01] #20 closed

[2019-05-02 08:01] #93 closed

[2019-05-02 08:02] PhilBarrett commented on #93
Descoped, not essential

[2019-05-02 08:02] PhilBarrett commented on #85
@DmitrySolyannik can we get an update on this one please

[2019-05-02 08:04] PhilBarrett commented on #83
Retested and resolved

[2019-05-02 08:04] #83 closed

[2019-05-02 08:08] PhilBarrett commented on #92
Completed and working fine

[2019-05-02 08:08] #92 closed

[2019-05-02 08:08] PhilBarrett commented on #66
Tested and confirmed

[2019-05-02 08:08] #66 closed

[2019-05-02 08:09] PhilBarrett commented on #57
Thanks for the update, closing here

[2019-05-02 08:09] #57 closed

[2019-05-02 08:09] #8 closed

[2019-05-02 08:10] PhilBarrett commented on #55
TS confirmed, closing task

[2019-05-02 08:10] #55 closed

[2019-05-02 08:11] PhilBarrett commented on #79
Duplicate of #91, closing

[2019-05-02 08:11] #79 closed

[2019-05-02 09:29] PhilBarrett opened #103 "Section 9: Shows Clinical rather than Clinician (see screenshot)"
![Screen Shot 2019-05-02 at 10.29.06.png](https://images.zenhubusercontent.com/5c90c9fcd76ef51f6b0fddfd/6e043e3c-0096-48e8-bbb3-94edca5f78e1)

[2019-05-02 09:30] PhilBarrett commented on #103
For Clinician Name and Clinician Signature

[2019-05-02 15:49] PhilBarrett opened #104 "Section 2 part 2 not storing"
"Details of other relevant planning documents" within section 2 is not storing

[2019-05-02 15:56] PhilBarrett opened #105 "Timeout issue when creating first ReSPECT form"
When creating a new respect form for the first time, we know that ethercis creates version one (as the Post) and version two is the GET and update. See #91

In Nes-Demo, when I create a new respect form and complete the sections, it times me out and I need to re-login. When i go back in, version 1 is there and allows me to then UPDATE in a new version.

This is at odds with creating a new version

[2019-05-03 09:32] DmitrySolyannik commented on #104
@PhilBarrett , @tony-shannon
I've fixed this issue, it relates to key length of yottaDB, it reset this key length every time when I am restarting container. That's why I need manually setup new length after each restart of openEHR container. Need to discuss this issue with Rob, we should setup default length 1019, without manual changing

[2019-05-03 09:46] DmitrySolyannik commented on #105
@PhilBarrett , @tony-shannon
I've fixed this issue and increase session time from 2 minutes to 1 hour

[2019-05-03 09:48] tony-shannon commented on #105
thanks Dima, will test soon

[2019-05-07 16:06] tony-shannon commented on #102
see this added detail on the name type in FHIR Patient profile
from here
https://fhir.hl7.org.uk/STU3/StructureDefinition/CareConnect-Patient-1

![image.png](https://images.zenhubusercontent.com/5c8be461fd0adb6f09c83d64/5399f95e-7175-4ea1-a1ea-33afd4438dff)

ie we need to accomodate an array with 2 names
#1 official inc prefix
#2 usual aka preferred name

as far as I can tell the json schema Rob h

[2019-05-07 16:08] tony-shannon opened #106 "Respect form - Jitter Bug - on adjusting page height"
see video attached from AH

[2019-05-07 16:11] tony-shannon commented on #102
see example data from ian McN which may help to test

https://gist.github.com/freshehr/6090ee5e367d64052c3078a98fdb9eac

[2019-05-07 16:20] tony-shannon commented on #106
see this link to video
https://youtu.be/13d9xmM0otY

with comment from AH

"I'm guessing the root cause is some JS/CSS setting the width of the page, the scroll bars being created, they change the width of the page, so the code changes the width of the page again. correction: height of the pageOne of the tricks to triggering it is to scroll down the page (with mouse wheel or keyboard)"

[2019-05-07 16:22] tony-shannon opened #107 "Cache Busting techniques"
tip from AH

This is a brief summary of the options people use (https://www.impressivewebs.com/cache-busting-front-end-resources-file-name-revving-still-necessary/) - basically you can either put a query string on the end of the file or dynamically change the file name every time. While changing file name sounds gnarly, it's super simple to implement as you don't rename the file, but rename the li

[2019-05-08 16:33] tony-shannon opened #108 "Setup script - test Data - EtherCIS"
lets craft a script that uploads test data for these headings
from JSON file to openEHR server
for an nhs# for an ehrID

for use on showcase etc

Problems
Meds
Vaccs
Allergies
Contacts
About Me -T3T
Personal Notes
Clinical Notes
Orders
Results
MDT
Referals
Procedures

+/-
Vitals
Drawings
Clinical Statements
Transfer of Care

![image.png](https://images.zenhubusercontent.com/5c8be461fd0adb6f09c83d6

[2019-05-08 16:37] tony-shannon commented on #108
closing and moving to here
https://github.com/RippleOSI/Ripple-Showcase-Stack-Project/issues/17

[2019-05-08 16:37] #108 closed

[2019-05-10 08:24] DmitrySolyannik commented on #101
@tony-shannon , @PhilBarrett
Added changes to this issue, added ability to send and output data for step #7
https://github.com/QEWD-Courier/QEWD-Courier/pull/74

[2019-05-10 08:26] DmitrySolyannik commented on #88
@tony-shannon, @PhilBarrett
This issue fixed in this PR. After merging will output data from step#7
https://github.com/QEWD-Courier/QEWD-Courier/pull/74

[2019-05-10 15:45] tony-shannon commented on #101
awaiting PR review by Alexey

[2019-05-13 10:04] PhilBarrett opened #109 "Check paginator on Patients List (Seems it shows only 10 users per page, and hide others)"

[2019-05-13 10:04] PhilBarrett commented on #88
" Check paginator on Patients List (Seems it shows only 10 users per page, and hide others)" Created in separate issue in icebox #109

[2019-05-13 11:20] PhilBarrett commented on #100
Should display

Address line 1
City
County/District
Postcode

Currently shows
Address line 1
County/District
City
Country

[2019-05-13 13:30] kuvakina commented on #100
@BogdanScherban here is a video: https://drive.google.com/file/d/140a83qtLoSxp2-87CXY5uZSmkgmz5Qid/view

[2019-05-14 10:31] BogdanScherban commented on #94
The issue has been done and uploaded

[2019-05-14 10:58] kuvakina commented on #91
@PhilBarrett you mean here:
![1111111111111111.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/23a84877-91ff-421f-89b1-9aa088116875)

[2019-05-14 11:21] kuvakina commented on #94
This issue was solved:
![2222222222222.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/b62b14c3-9ca5-441f-bdd0-14fc3c2803fd)

[2019-05-14 11:23] kuvakina commented on #97
This issue was solved. Now we can type the date manually and the error doesn't appear:
https://drive.google.com/file/d/1HwDUKPNdMsvb41pS2AnQz4SRaxJfeMMW/view

[2019-05-14 11:45] kuvakina opened #110 "NES: bug with requests when create a new patient"
0) open console (Network)
1) search for the patient with an existing name
2) click Create button
3) create a patient with another name (different from what you have searched)
4) click Complete button

Expected result:
You don't see a created patient, but in Network you can see that new patient was created. Also you can click on the searched patient and see their details

Actual result:
You don't s

[2019-05-14 13:22] kuvakina commented on #110
This issue had been fixed by Bogdan. See PR#88: https://app.zenhub.com/workspaces/ripple-combined-project-space-5c8be494fd0adb6f09c83d6b/issues/pulsetile/pulsetile-ra/88

[2019-05-15 10:00] kuvakina commented on #100
@PhilBarrett this issue was fixed:
![44444.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/c7c48a6a-4d41-44fe-9975-eecd8aa40489)

[2019-05-15 10:02] kuvakina commented on #96
@PhilBarrett
This issue was fixed:
![4444444.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/deaf477d-9884-461e-af79-1b48075d8bb1)

[2019-05-15 10:05] kuvakina commented on #106
@tony-shannon sorry, we don't have access to the video. Is this issue for Bogdan?

[2019-05-15 10:20] kuvakina commented on #103
@PhilBarrett this issue was fixed:
![555.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/05c15e2f-edc5-4cc5-961a-bae5cb422589)

[2019-05-15 10:59] kuvakina commented on #109
@PhilBarrett Issue with pages was fixed:
![aa1.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/38474803-6df3-4556-869d-8737da0e2052)
![aa0.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/d69eddc0-35f7-487e-bd9f-cbddcd5a5fb4)

[2019-05-15 12:29] kuvakina opened #111 "PDF not opens for some ReSPECT versions"
We noticed, that we can't open PDF form after ~4 version.

[2019-05-15 13:08] BogdanScherban commented on #111
I've found a reason and solved the issue.

There were two reasons:
1) Error in function, which parsed JSON with ReSPECT version data;
2) Number data in JS should be convert to string (if we want to add it to PDF kit)

[2019-05-15 13:26] kuvakina commented on #111
@PhilBarrett Bogdan fixed this one. Above Bogdan mentioned the reason for the bug

[2019-05-15 13:31] kuvakina commented on #101
@PhilBarrett @tony-shannon
Except for "Section 7 isn't recording Senior Responsible Clinician", we fixed the saving of all arrays in Section 7 for both Version and PDF :
![aa2.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/8a04a87f-22c5-4da2-b372-d8e11eef56af)
![aa3.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/373f5fb7-3980-4cd3-b63c-d1e2a5d7ea3f)

[2019-05-15 13:31] tony-shannon commented on #101
PR reviewed by Alexey and merged
Section 7 needs retesting please

[2019-05-15 13:33] PhilBarrett commented on #101
@simongamester can I ask for your help regarding @kuvakina 's update please and "Except for "Section 7 isn't recording Senior Responsible Clinician", we fixed the saving of all arrays in Section 7 for both Version and PDF ":

[2019-05-15 14:14] kuvakina commented on #102
For this task, Dima has to add validation and Bogdan also has to add the field.

[2019-05-15 15:41] simongamester commented on #101
@tony-shannon How does the system identify a clinician as a senior clinician. Could you send me an example of the json data?

I can see the output from @PhilBarrett 's earlier post, that the output below that there doesn't appear to be a flag to identify the clinician's signature.

https://gist.githubusercontent.com/DmitrySolyannik/eb5902dc7d1c159990725b6d3fc2b22e/raw/d25b37f54355483c176628bd62f4c

[2019-05-15 15:59] kuvakina commented on #102
Dima and Bogdan made Preferred Name as an optional field (Dima added validation, and Bogdan changes JSON structure that client sends on server):
![aa4.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/a8e6d831-7d4e-4744-8216-02acedca3deb)

[2019-05-16 10:27] PhilBarrett commented on #102
Working as intended

Shows in the table the Name column should display as concatenated

First name
Last name

Preferred name is optional and not displayed in the Name column

[2019-05-16 10:33] PhilBarrett commented on #101
@BogdanScherban @DmitrySolyannik can you put your heads together on where Senior Responsible Clinician data field is coming from in EtherCIS, is handled in QEWD and is presented in PulseTile, so the PDF kit can pick it up properly.

Please can you update in here with your findings on what needs to be done, thanks

[2019-05-16 10:39] PhilBarrett commented on #91
I mean Dr Jonty Shannon renamed as System

[2019-05-16 10:46] PhilBarrett opened #112 "Need to investigate difference between GP and EtherCIS data source"

[2019-05-17 10:52] kuvakina opened #113 "Need to highlight chosen issues"
Right now when you click on issue and redirect on issue page, it not clear what issue you chose. Need to highlight chosen issues:

**Helm-RA** :
![qq4.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/99c83df6-a9f0-4215-9869-8daf1019af14)

**OneLondon** :
![qq5.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/66ff3b8a-f3a7-445c-830e-6aaf9edbf40b)

[2019-05-17 15:48] BogdanScherban commented on #113
@fzaninotto
Francois, I need in your help in this issue.

1) What I want to do.

We have a table, which is created by Datagrid. I want to set backgroundColor (main theme color) and color (white, for text) to the row, which is opened now.

2) How I tried to do this.

I used Datagrid attribute rowStyle according to https://marmelab.com/react-admin/List.html#row-style-function:
[code]

But unfortunas

[2019-05-20 13:44] PhilBarrett opened #114 "system wide cosmetic changes to React-Admin showcase"
As per One London / NES / Helm

[2019-05-21 08:22] PhilBarrett commented on #114
wrong repo

[2019-05-21 08:22] #114 closed

[2019-05-21 12:09] #94 closed

[2019-05-21 12:30] PhilBarrett commented on #109
Reviewed and working fine. thank you

[2019-05-21 12:30] #109 closed

[2019-05-21 12:31] PhilBarrett commented on #100
Reviewed and working fine, thank you

[2019-05-21 12:35] kuvakina commented on #101
We asked Ian's help:

**Dmitry** :
Hello @Ian, could you please point me about one thing on step #7 (respectforms), we can choose senior responsible clinician by checkbox (PulseTile side), But I don't see any information about this field in NSS_RESPECT documentation. It should be in array
nss_respect_form/respect_headings/a7._clinician_signatures/service:0

https://raw.githubusercontent.com/Ripple

[2019-05-21 12:36] PhilBarrett commented on #97
Confirmed, working fine, thank you

[2019-05-21 12:36] #97 closed

[2019-05-21 12:58] PhilBarrett commented on #103
@kuvakina can you explain the dependency here please?

[2019-05-21 14:03] kuvakina commented on #101
Dima added changes, and now we can save "Senior responsible clinician" :
![ww4.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/49e523c6-2a5c-41e6-b7ab-9818ed3fb22a)

[2019-05-21 14:04] PhilBarrett commented on #101
Reviewed and closing

[2019-05-22 13:50] kuvakina opened #115 "CHI number can't start from 0"
If you create CHI number that starts from 0 and save it, that server removes 0s and you will see an error message:
![ww5.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/e73bcc9b-4b6d-43e0-9356-9dbdb155d8b4)

[2019-05-22 16:42] #101 closed

[2019-05-22 16:43] PhilBarrett commented on #103
Reviewed and closing

[2019-05-22 16:44] #91 closed

[2019-05-22 16:44] PhilBarrett commented on #91
Reviewed and working fine now.

[2019-05-22 16:45] PhilBarrett commented on #96
Reviewed and working as intended now, thank you.

[2019-05-22 16:45] #96 closed

[2019-05-22 16:46] #110 closed

[2019-05-22 16:46] PhilBarrett commented on #105
Working fine, thank you

[2019-05-22 16:46] PhilBarrett commented on #104
Tested and working fine, thank you.

[2019-05-22 16:46] #104 closed

[2019-05-22 16:47] PhilBarrett commented on #88
Reviewed and resolved.

[2019-05-22 16:47] #88 closed

[2019-05-22 16:48] PhilBarrett commented on #111
Can't reproduce, so closing now fixed

[2019-05-22 16:48] #111 closed

[2019-05-22 16:48] PhilBarrett commented on #102
Resolved, closing out

[2019-05-22 16:48] #102 closed

[2019-05-22 16:49] #112 closed

[2019-05-22 16:49] PhilBarrett commented on #112
Opened in error

[2019-05-22 16:53] PhilBarrett commented on #113
@kuvakina please can this info be copied over and a new issue created under PulseTile-RA.

Wrong repo I'm afraid.

[2019-05-22 16:54] PhilBarrett commented on #106
I've not been able to recreate after many attempts. will leave here

[2019-05-23 11:47] kuvakina opened #116 "Add validation for required fields"
Right now if you missed the field, you just see Something is wrong error and nothing else. We should add validation, so user will see in which field the problem

[2019-05-23 11:50] PhilBarrett commented on #116
We need to understand which fields are mandatory to create a new patient record and also the validation rules before making the changes please.

[2019-05-23 12:29] PhilBarrett opened #117 "Time stamp for when a new ReSPECT form is before the patient record is generated (out of sync)"

[2019-05-23 12:31] PhilBarrett opened #118 "Investigate a more elegant approach to the System generated first version of the ReSPECT form"
Currently when a new ReSPECT form is generated, Version 1 is recorded as blank and system generated as EtherCIS requires a POST entry.

Need to investigate how to deal with this more elegantly as it could be misleading for the user.

[2019-05-23 13:07] kuvakina commented on #116
@PhilBarrett when creating new patient all fields required, except for Preferred name.

[2019-05-23 13:58] PhilBarrett opened #119 "Hide the menu button at the landing screen when the user first logs in"
Confusing UX

![image_2019_05_23T13_11_35_085Z.png](https://images.zenhubusercontent.com/5c90c9fcd76ef51f6b0fddfd/fa291ee1-ffe7-4c0e-a9ad-2096502ec172)

Thanks @freshehr

[2019-05-24 09:58] kuvakina commented on #113
@PhilBarrett sorry, will change in a mo

Moved here: https://app.zenhub.com/workspaces/ripple-combined-project-space-5c8be494fd0adb6f09c83d6b/issues/pulsetile/pulsetile-ra/91

[2019-05-24 10:09] tony-shannon commented on #113
Closing this issue as related issue is here
https://github.com/PulseTile/PulseTile-RA/issues/91

[2019-05-24 10:09] #113 closed

[2019-05-24 16:57] kuvakina commented on #116
@PhilBarrett this is done for NES:
![Screenshot from 2019-05-23 17-10-38.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/23e37010-2ccd-4517-a6a4-ca1e8f17b2c5)

[2019-05-27 11:01] ChikongCham commented on #5
Record navigation button labels (previous, next) disappear when using Contrast Mode.
![ReSPECT system UAT - Contrast Mode issue](https://user-images.githubusercontent.com/51081438/58415697-329b1a80-8077-11e9-9a03-795e2da5418d.png)

[2019-05-27 11:08] ChikongCham opened #120 "Contrast Mode - View ReSPECT document sections"
Section and Status column header text rendered in black while in Contrast Mode
![ReSPECT system UAT - Contrast Mode ReSPECT document view](https://user-images.githubusercontent.com/51081438/58415994-1ba8f800-8078-11e9-9dba-b3350d0fcb69.png)
.

[2019-05-27 11:11] ChikongCham opened #121 "Contrast Mode - Record navigation buttons disappear"
After list of patients retrieved following search, the record navigation buttons are not visible in Contrast Mode.
![ReSPECT system UAT - Contrast Mode issue](https://user-images.githubusercontent.com/51081438/58416121-822e1600-8078-11e9-89f3-8e3c879b4a4b.png)

[2019-05-27 11:25] ChikongCham commented on #106
Search for 'test' and on retrieval of patient list, use mouse scroll wheel to scroll down the page.  It appears that the page is rapidly alternating between showing and hiding the vertical scroll bar on the right of the page.

[2019-05-27 11:33] tony-shannon commented on #117
Alexandra to retest and provide more info to Bogdan, eg Screenshot/console etc

[2019-05-27 13:41] kuvakina commented on #117
@BogdanScherban problem is still present. I've created ReSPECT form today:
![117a.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/c83c11d5-e9c0-43e3-8f70-1672a03fa2dc)

But when I updated the page, the date became this:
![117b.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/2135508b-d478-4b8e-91b0-120d8a13aebf)

Below you could see the behavior on the video:
h

[2019-05-28 08:12] PhilBarrett commented on #5
@ChikongCham this would require a separate issue. I understand NES are recording these in their own system if that helps.

[2019-05-28 09:01] BogdanScherban commented on #117
@tony-shannon  @DmitrySolyannik

I investigated this problem. Server side returns list of Respect versions with equal dateCreated:
![Screenshot from 2019-05-28 11-50-06.png](https://images.zenhubusercontent.com/5cd92c639c62ea1ca66b24a2/61e9eb2c-e7fc-4626-bec3-e93c15ac7e1d)

If we convert 1556623917000 to date format, it returns 30-04-2019.

We should search a problem at the server side.

[2019-05-28 09:05] tony-shannon commented on #117
reassigning to @DmitrySolyannik for now , to investigate server side

[2019-05-28 16:27] PhilBarrett commented on #106
https://drive.google.com/file/d/1r7X9Vx5HcqHQl9FphRxyG33w-CH_i4OK/view also on showcase 0:11

[2019-05-31 14:25] DmitrySolyannik commented on #117
This issue relates to ethercis, for some reason it returns wrong data, after save

[2019-05-31 16:18] kuvakina commented on #106
@PhilBarrett @ChikongCham we fixed the issue, could you please check it?

[2019-06-03 08:57] DmitrySolyannik commented on #117
@tony-shannon , @PhilBarrett This issue was fixed by Ian and Christian, tested on ethercis 1.3

[2019-06-03 09:19] PhilBarrett commented on #117
Thanks @DmitrySolyannik please can this be loaded onto Nes-demo and I'll close out

[2019-06-03 10:11] kuvakina commented on #117
@PhilBarrett Dima uploaded it. This is the result after reload:
![44444444.png](https://images.zenhubusercontent.com/5cacbbef8d0ceb76ea94b3f3/af4aa610-dbed-4dbb-bb18-ac89e0a991bf)

[2019-06-06 09:50] PhilBarrett opened #122 "Update React.js showcase (old version) with latest PROMS template on EtherCIS 1.3"

[2019-06-06 09:52] PhilBarrett opened #123 "Review of openEHR templates"
List all headings for showcase react.js and showcase React-Admin and map which templates / versions are in use for both dev and demo environments.

[2019-06-06 09:52] #123 closed

[2019-06-10 08:26] tony-shannon commented on #106
please confirm this change has been pushed to all relevant branches @BogdanScherban

[2019-06-10 12:15] BogdanScherban commented on #106
@tony-shannon

I checked that problem with flicking isn't presented more (nes-dev):
https://drive.google.com/file/d/183_XZRAxX61I8lIPsLfd8uAp8VcBGUIB/view

Changes for this bug fixing was uploaded to all our branches.

[2019-06-10 12:18] PhilBarrett commented on #106
Please can this be pushed to nes-demo @BogdanScherban

[2019-06-10 12:19] BogdanScherban commented on #106
@PhilBarrett

Sorry, but I don't know, how to update nes-demo. I can update only nes-dev.
I can prepare build for @DmitrySolyannik and he will upload it tomorrow.

[2019-06-10 14:47] ChikongCham commented on #106
I confirm jitter bug on nes-demo has been resolved.  Vertical scrollbar now appears only when window content requires it and not present on full-screen. Many thanks.

[2019-06-10 14:48] PhilBarrett commented on #106
Thanks for confirming @ChikongCham

[2019-06-10 14:48] #106 closed

[2019-06-10 19:55] #122 closed

[2019-06-13 15:29] ChikongCham commented on #45
Can you tell me if launching in patient context (e.g. concatenate CHI number after system login page URL) is still on the development road map?  Delivering this along with a web service (draft spec supplied to NDS for review/comment) would enable Resus Council Digital Maturity Level 4 to be achieved by adopter Health Boards/Trusts.

[2019-06-18 13:20] #116 closed

[2019-08-02 16:34] kuvakina opened #124 "In ReSPECT forms info in some fields not storing"